#
# Macros for i18n_input
#

#
# Authors:  Dan Walsh <dwalsh@redhat.com> 
#

#
# i18n_input_domain(domain)
#
ifdef(`i18n_input.te', `
define(`i18n_input_domain', `
allow i18n_input_t $1_home_dir_t:dir { getattr search };
r_dir_file(i18n_input_t, $1_home_t)
if (use_nfs_home_dirs) { r_dir_file(i18n_input_t, nfs_t) }
if (use_samba_home_dirs) { r_dir_file(i18n_input_t, cifs_t) }
')
')


