########################################
#
# can_pipe_xdm(domain)
#
# Allow communication to xdm over a pipe
#

define(`can_pipe_xdm', `
ifdef(`xdm.te', `
allow $1 xdm_t:fd use;
allow $1 xdm_t:fifo_file { getattr read write ioctl };
')
') dnl can_pipe_xdm
