policy_module(guest)

########################################
#
# Declarations
#

role guest_r;

userdom_restricted_user_template(guest)

kernel_read_system_state(guest_t)

########################################
#
# Local policy
#

optional_policy(`
	dbus_role_template(guest, guest_r, guest_t)
')

#gen_user(guest_u, user, guest_r, s0, s0)
