# DESC - GConf preference daemon
#
# Author: Ivan Gyurdiev <ivg2@cornell.edu>
#

# Type for executable
type gconfd_exec_t, file_type, exec_type, sysadmfile;

# Type for /etc files
type gconf_etc_t, file_type, sysadmfile;

# Everything else is in macros/gconfd_macros.te
