#DESC MonopD - Monopoly Daemon
#
# Author: Torsten Knodt <tk-selinux@datas-world.de>
# based on the dhcpd_t policy from:
#          Russell Coker <russell@coker.com.au>
#

#################################
#
# Rules for the monopd_t domain.
#
daemon_domain(monopd)
etc_domain(monopd)
typealias monopd_etc_t alias etc_monopd_t;

type monopd_share_t, file_type, sysadmfile;
typealias monopd_share_t alias share_monopd_t;

# Use the network.
can_network_server(monopd_t)
can_ypbind(monopd_t)

allow monopd_t monopd_port_t:tcp_socket name_bind;

r_dir_file(monopd_t,share_monopd_t)

allow monopd_t self:unix_dgram_socket create_socket_perms;
allow monopd_t self:unix_stream_socket create_socket_perms;

r_dir_file(monopd_t, etc_t)
