#DESC mplayer - media player 
#
# Author: Ivan Gyurdiev <ivg2@cornell.edu>
#

# Type for the mplayer executable.
type mplayer_exec_t, file_type, exec_type, sysadmfile;
type mencoder_exec_t, file_type, exec_type, sysadmfile;
type mplayer_etc_t, file_type, sysadmfile;

# Allow mplayer executable stack
bool allow_mplayer_execstack false;

# Everything else is in the mplayer_domain macro in
# macros/program/mplayer_macros.te.
