#DESC Rssh - Restricted (scp/sftp) only shell
#
# Authors: Colin Walters <walters@verbum.org>
# X-Debian-Package: rssh
#

type rssh_exec_t, file_type, sysadmfile, exec_type;

ifdef(`ssh.te',`
allow sshd_t rssh_exec_t:file r_file_perms;
')

# See rssh_macros.te for the rest.
