# DESC - Bonobo Activation Server 
#
# Author: Ivan Gyurdiev <ivg2@cornell.edu>
#

# Type for executable
type bonobo_exec_t, file_type, exec_type, sysadmfile;

# Everything else is in macros/bonobo_macros.te
