# DESC - GNOME VFS Daemon
#
# Author: Ivan Gyurdiev <ivg2@cornell.edu>
#

# Type for executable
type gnome_vfs_exec_t, file_type, exec_type, sysadmfile;

# Everything else is in macros/gnome_vfs_macros.te
