#DESC Lockdev - libblockdev helper application
#
# Authors:  Daniel Walsh <dwalsh@redhat.com> 
#


# Type for the lockdev
type lockdev_exec_t, file_type, sysadmfile, exec_type;

# Everything else is in the lockdev_domain macro in
# macros/program/lockdev_macros.te.
