#DESC Netscape - Web browser
#
# Authors:  Stephen Smalley <sds@epoch.ncsc.mil> and Timothy Fraser 
# X-Debian-Packages: mozilla
#

# Type for the netscape, mozilla or other browser executables.
type mozilla_exec_t, file_type, sysadmfile, exec_type;
type mozilla_conf_t, file_type, sysadmfile;

# Allow mozilla to read files in the user home directory
bool mozilla_readhome false;

# Allow mozilla to write files in the user home directory
bool mozilla_writehome false;

# Everything else is in the mozilla_domain macro in
# macros/program/mozilla_macros.te.
