#DESC XServer - X Server
#
# Authors:  Stephen Smalley <sds@epoch.ncsc.mil> and Timothy Fraser 
# X-Debian-Packages: xserver-common xserver-xfree86
#

# Type for the executable used to start the X server, e.g. Xwrapper.
type xserver_exec_t, file_type, sysadmfile, exec_type;

# Type for the X server log file.
type xserver_log_t, file_type, sysadmfile, logfile;

# type for /var/lib/xkb
type var_lib_xkb_t, file_type, sysadmfile, usercanread;

# Allow the xserver to check for fonts in ~/.gnome or ~/.kde
bool allow_xserver_home_fonts false;

# Everything else is in the xserver_domain macro in
# macros/program/xserver_macros.te.

