#DESC cpuspeed - domain for microcode_ctl, powernowd, etc
#
# Authors:  Russell Coker <russell@coker.com.au>
#           Thomas Bleher <ThomasBleher@gmx.de>
#

daemon_base_domain(cpuspeed)
read_locale(cpuspeed_t)

allow cpuspeed_t sysfs_t:dir search;
allow cpuspeed_t sysfs_t:file rw_file_perms;
allow cpuspeed_t proc_t:dir r_dir_perms;
allow cpuspeed_t proc_t:file { getattr read };
allow cpuspeed_t { etc_t etc_runtime_t }:file { getattr read };

allow cpuspeed_t self:process setsched;
allow cpuspeed_t self:unix_dgram_socket create_socket_perms;
