#DESC rsync - flexible replacement for rcp
#
# Author:  Dan Walsh <dwalsh@redhat.com>
#
# Depends: inetd.te

#################################
#
# Rules for the rsync_t domain.
#
# rsync_exec_t is the type of the rsync executable.
#

inetd_child_domain(rsync)
type rsync_data_t, file_type, sysadmfile;
r_dir_file(rsync_t, rsync_data_t)
anonymous_domain(rsync)
allow rsync_t self:capability sys_chroot;
