## <summary>Policy for adb</summary>
########################################
## <summary>
##      Allow processes to inherit adbd file descriptors.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
#
interface(`adb_use_fds',`
        gen_require(`
                type adbd_t;
        ')

        allow $1 adbd_t:fd use;
')
