
policy_module(aide, 1.5.0)

########################################
#
# Declarations
#

type aide_t;
type aide_exec_t;
application_domain(aide_t, aide_exec_t)

# log files
type aide_log_t;
logging_log_file(aide_log_t)

# aide database
type aide_db_t;
files_type(aide_db_t)

########################################
#
# aide local policy
#

allow aide_t self:capability { dac_override fowner };

# database actions
manage_files_pattern(aide_t, aide_db_t, aide_db_t)

# logs
manage_files_pattern(aide_t, aide_log_t, aide_log_t)
logging_log_filetrans(aide_t, aide_log_t, file)

files_read_all_files(aide_t)

logging_send_audit_msgs(aide_t)

seutil_use_newrole_fds(aide_t)

userdom_use_user_terminals(aide_t)
