policy_module(automount)

########################################
#
# Declarations
#

type automount_t;
type automount_exec_t;
init_daemon_domain(automount_t, automount_exec_t)

type automount_initrc_exec_t;
init_script_file(automount_initrc_exec_t)

type automount_keytab_t;
files_type(automount_keytab_t)

type automount_lock_t;
files_lock_file(automount_lock_t)

type automount_runtime_t alias automount_var_run_t;
files_runtime_file(automount_runtime_t)

type automount_tmp_t;
files_tmp_file(automount_tmp_t)
files_mountpoint(automount_tmp_t)

type automount_unit_t;
init_unit_file(automount_unit_t)

########################################
#
# Local policy
#

allow automount_t self:capability { dac_override setgid setuid sys_admin sys_nice sys_resource };
dontaudit automount_t self:capability sys_tty_config;
allow automount_t self:process { signal_perms getpgid setpgid setsched setrlimit };
allow automount_t self:fifo_file rw_fifo_file_perms;
allow automount_t self:tcp_socket { accept listen };
allow automount_t self:rawip_socket create_socket_perms;

can_exec(automount_t, automount_exec_t)

allow automount_t automount_keytab_t:file read_file_perms;

allow automount_t automount_lock_t:file manage_file_perms;
files_lock_filetrans(automount_t, automount_lock_t, file)

manage_dirs_pattern(automount_t, automount_tmp_t, automount_tmp_t)
manage_files_pattern(automount_t, automount_tmp_t, automount_tmp_t)
files_tmp_filetrans(automount_t, automount_tmp_t, { file dir })
files_home_filetrans(automount_t, automount_tmp_t, dir)
files_root_filetrans(automount_t, automount_tmp_t, dir)

manage_files_pattern(automount_t, automount_runtime_t, automount_runtime_t)
manage_fifo_files_pattern(automount_t, automount_runtime_t, automount_runtime_t)
files_runtime_filetrans(automount_t, automount_runtime_t, { file fifo_file })

kernel_read_kernel_sysctls(automount_t)
kernel_read_irq_sysctls(automount_t)
kernel_read_fs_sysctls(automount_t)
kernel_read_vm_sysctls(automount_t)
kernel_read_proc_symlinks(automount_t)
kernel_read_system_state(automount_t)
kernel_read_network_state(automount_t)
kernel_list_proc(automount_t)
kernel_getattr_unlabeled_dirs(automount_t)
kernel_dontaudit_search_xen_state(automount_t)

corecmd_exec_bin(automount_t)
corecmd_exec_shell(automount_t)

corenet_all_recvfrom_netlabel(automount_t)
corenet_tcp_sendrecv_generic_if(automount_t)
corenet_udp_sendrecv_generic_if(automount_t)
corenet_tcp_sendrecv_generic_node(automount_t)
corenet_udp_sendrecv_generic_node(automount_t)
corenet_tcp_bind_generic_node(automount_t)
corenet_udp_bind_generic_node(automount_t)

corenet_sendrecv_all_client_packets(automount_t)
corenet_sendrecv_all_server_packets(automount_t)
corenet_tcp_connect_portmap_port(automount_t)
corenet_tcp_connect_all_ports(automount_t)
# Automount execs showmount when you browse /net.  This is required until
# Someone writes a showmount policy
corenet_tcp_bind_reserved_port(automount_t)
corenet_tcp_bind_all_rpc_ports(automount_t)
corenet_udp_bind_reserved_port(automount_t)
corenet_udp_bind_all_rpc_ports(automount_t)

files_dontaudit_write_var_dirs(automount_t)
files_getattr_all_dirs(automount_t)
files_getattr_default_dirs(automount_t)
files_getattr_home_dir(automount_t)
files_exec_etc_files(automount_t)
files_list_mnt(automount_t)
files_manage_non_security_dirs(automount_t)
files_mount_all_file_type_fs(automount_t)
files_mounton_all_mountpoints(automount_t)
files_mounton_mnt(automount_t)
files_read_etc_runtime_files(automount_t)
files_read_usr_files(automount_t)
files_search_boot(automount_t)
files_search_all(automount_t)
files_unmount_all_file_type_fs(automount_t)

fs_getattr_all_dirs(automount_t)
fs_getattr_all_fs(automount_t)
fs_manage_auto_mountpoints(automount_t)
fs_manage_autofs_symlinks(automount_t)
fs_mount_all_fs(automount_t)
fs_mount_autofs(automount_t)
fs_read_nfs_files(automount_t)
fs_search_all(automount_t)
fs_search_auto_mountpoints(automount_t)
fs_unmount_all_fs(automount_t)
fs_unmount_autofs(automount_t)

dev_read_rand(automount_t)
dev_read_sysfs(automount_t)
dev_read_urand(automount_t)
dev_rw_autofs(automount_t)

domain_use_interactive_fds(automount_t)
domain_dontaudit_read_all_domains_state(automount_t)

storage_rw_fuse(automount_t)

term_dontaudit_getattr_pty_dirs(automount_t)

auth_use_nsswitch(automount_t)

logging_send_syslog_msg(automount_t)
logging_search_logs(automount_t)

miscfiles_read_localization(automount_t)
miscfiles_read_generic_certs(automount_t)

mount_domtrans(automount_t)
mount_signal(automount_t)

userdom_dontaudit_use_unpriv_user_fds(automount_t)

optional_policy(`
	fstools_domtrans(automount_t)
')

optional_policy(`
	kerberos_read_config(automount_t)
	kerberos_read_keytab(automount_t)
	kerberos_use(automount_t)
	kerberos_dontaudit_write_config(automount_t)
')

optional_policy(`
	samba_read_config(automount_t)
	samba_manage_var_files(automount_t)
')

optional_policy(`
	seutil_sigchld_newrole(automount_t)
')

