policy_module(bugzilla, 1.2.0)

########################################
#
# Declarations
#

apache_content_template(bugzilla)

########################################
#
# Local policy
#

allow httpd_bugzilla_script_t self:tcp_socket { accept listen };

corenet_all_recvfrom_unlabeled(httpd_bugzilla_script_t)
corenet_all_recvfrom_netlabel(httpd_bugzilla_script_t)
corenet_tcp_sendrecv_generic_if(httpd_bugzilla_script_t)
corenet_tcp_sendrecv_generic_node(httpd_bugzilla_script_t)

corenet_sendrecv_http_client_packets(httpd_bugzilla_script_t)
corenet_tcp_connect_http_port(httpd_bugzilla_script_t)
corenet_tcp_sendrecv_http_port(httpd_bugzilla_script_t)

corenet_sendrecv_smtp_client_packets(httpd_bugzilla_script_t)
corenet_tcp_connect_smtp_port(httpd_bugzilla_script_t)
corenet_tcp_sendrecv_smtp_port(httpd_bugzilla_script_t)

files_search_var_lib(httpd_bugzilla_script_t)

sysnet_dns_name_resolve(httpd_bugzilla_script_t)
sysnet_use_ldap(httpd_bugzilla_script_t)

optional_policy(`
	mta_send_mail(httpd_bugzilla_script_t)
')

optional_policy(`
	mysql_stream_connect(httpd_bugzilla_script_t)
	mysql_tcp_connect(httpd_bugzilla_script_t)
')

optional_policy(`
	postgresql_stream_connect(httpd_bugzilla_script_t)
	postgresql_tcp_connect(httpd_bugzilla_script_t)
')
