policy_module(clamav)

## <desc>
##	<p>
##	Determine whether clamscan can
##	read user content files.
##	</p>
## </desc>
gen_tunable(clamav_read_user_content_files_clamscan, false)

## <desc>
##	<p>
##	Determine whether clamscan can read
##	all non-security files.
##	</p>
## </desc>
gen_tunable(clamav_read_all_non_security_files_clamscan, false)

## <desc>
##	<p>
##	Determine whether can clamd use JIT compiler.
##	</p>
## </desc>
gen_tunable(clamd_use_jit, false)

########################################
#
# Declarations
#
attribute clam_scannable_type;

type clamd_t;
type clamd_exec_t;
init_daemon_domain(clamd_t, clamd_exec_t)

type clamd_etc_t;
files_config_file(clamd_etc_t)

type clamd_initrc_exec_t;
init_script_file(clamd_initrc_exec_t)

type clamd_runtime_t;
files_runtime_file(clamd_runtime_t)

type clamd_tmp_t;
files_tmp_file(clamd_tmp_t)

type clamd_unit_t;
init_unit_file(clamd_unit_t)

type clamd_var_log_t;
logging_log_file(clamd_var_log_t)

type clamd_var_lib_t;
files_type(clamd_var_lib_t)

type clamscan_t;
type clamscan_exec_t;
init_daemon_domain(clamscan_t, clamscan_exec_t)

type clamscan_tmp_t;
files_tmp_file(clamscan_tmp_t)

type freshclam_t;
type freshclam_exec_t;
init_daemon_domain(freshclam_t, freshclam_exec_t)

type freshclam_var_log_t;
logging_log_file(freshclam_var_log_t)

########################################
#
# Clamd local policy
#

allow clamd_t self:capability { chown fowner fsetid kill setgid setuid dac_override };
dontaudit clamd_t self:capability sys_tty_config;
allow clamd_t self:process { signal getsched };
allow clamd_t self:fifo_file rw_fifo_file_perms;
allow clamd_t self:unix_stream_socket { accept connectto listen };
allow clamd_t self:tcp_socket { listen accept };

allow clamd_t clamd_etc_t:dir list_dir_perms;
read_files_pattern(clamd_t, clamd_etc_t, clamd_etc_t)
read_lnk_files_pattern(clamd_t, clamd_etc_t, clamd_etc_t)

manage_dirs_pattern(clamd_t, clamd_tmp_t, clamd_tmp_t)
manage_files_pattern(clamd_t, clamd_tmp_t, clamd_tmp_t)
files_tmp_filetrans(clamd_t, clamd_tmp_t, { file dir })

manage_dirs_pattern(clamd_t, clamd_var_lib_t, clamd_var_lib_t)
manage_files_pattern(clamd_t, clamd_var_lib_t, clamd_var_lib_t)
manage_sock_files_pattern(clamd_t, clamd_var_lib_t, clamd_var_lib_t)

manage_dirs_pattern(clamd_t, clamd_var_log_t, clamd_var_log_t)
append_files_pattern(clamd_t, clamd_var_log_t, clamd_var_log_t)
create_files_pattern(clamd_t, clamd_var_log_t, clamd_var_log_t)
setattr_files_pattern(clamd_t, clamd_var_log_t, clamd_var_log_t)
logging_log_filetrans(clamd_t, clamd_var_log_t, { dir file })

manage_dirs_pattern(clamd_t, clamd_runtime_t, clamd_runtime_t)
manage_files_pattern(clamd_t, clamd_runtime_t, clamd_runtime_t)
manage_sock_files_pattern(clamd_t, clamd_runtime_t, clamd_runtime_t)
files_runtime_filetrans(clamd_t, clamd_runtime_t, { dir file sock_file })

read_files_pattern(clamd_t, clam_scannable_type, clam_scannable_type)
read_lnk_files_pattern(clamd_t, clam_scannable_type, clam_scannable_type)
list_dirs_pattern(clamd_t, clam_scannable_type, clam_scannable_type)

kernel_dontaudit_list_proc(clamd_t)
kernel_read_sysctl(clamd_t)
kernel_read_kernel_sysctls(clamd_t)
kernel_read_system_state(clamd_t)
kernel_read_vm_sysctls(clamd_t)
kernel_read_vm_overcommit_sysctl(clamd_t)

corecmd_exec_shell(clamd_t)

corenet_all_recvfrom_netlabel(clamd_t)
corenet_tcp_sendrecv_generic_if(clamd_t)
corenet_tcp_sendrecv_generic_node(clamd_t)
corenet_tcp_bind_generic_node(clamd_t)

corenet_sendrecv_generic_server_packets(clamd_t)
corenet_tcp_bind_generic_port(clamd_t)

corenet_sendrecv_generic_client_packets(clamd_t)
corenet_tcp_connect_generic_port(clamd_t)

corenet_sendrecv_clamd_server_packets(clamd_t)
corenet_tcp_bind_clamd_port(clamd_t)

dev_read_rand(clamd_t)
dev_read_urand(clamd_t)
dev_read_sysfs(clamd_t)

domain_use_interactive_fds(clamd_t)

files_read_etc_runtime_files(clamd_t)
files_search_spool(clamd_t)

auth_use_nsswitch(clamd_t)

logging_send_syslog_msg(clamd_t)

miscfiles_read_generic_certs(clamd_t)
miscfiles_read_localization(clamd_t)

tunable_policy(`clamd_use_jit',`
	allow clamd_t self:process execmem;
',`
	dontaudit clamd_t self:process execmem;
')

optional_policy(`
	amavis_read_lib_files(clamd_t)
	amavis_spool_filetrans(clamd_t, clamd_runtime_t, sock_file)
	amavis_create_runtime_files(clamd_t)
')

optional_policy(`
	cron_use_fds(clamd_t)
	cron_use_system_job_fds(clamd_t)
	cron_rw_pipes(clamd_t)
')

optional_policy(`
	mta_read_config(clamd_t)
	mta_send_mail(clamd_t)
')

########################################
#
# Freshclam local policy
#

allow freshclam_t self:capability { chown dac_override setgid setuid };
allow freshclam_t self:fifo_file rw_fifo_file_perms;
allow freshclam_t self:unix_stream_socket { accept listen };
allow freshclam_t self:tcp_socket { accept listen };

allow freshclam_t clamd_etc_t:dir list_dir_perms;
read_files_pattern(freshclam_t, clamd_etc_t, clamd_etc_t)
read_lnk_files_pattern(freshclam_t, clamd_etc_t, clamd_etc_t)

manage_dirs_pattern(freshclam_t, clamd_var_lib_t, clamd_var_lib_t)
manage_files_pattern(freshclam_t, clamd_var_lib_t, clamd_var_lib_t)

manage_files_pattern(freshclam_t, clamd_runtime_t, clamd_runtime_t)
files_runtime_filetrans(freshclam_t, clamd_runtime_t, file)

append_files_pattern(freshclam_t, freshclam_var_log_t, freshclam_var_log_t)
create_files_pattern(freshclam_t, freshclam_var_log_t, freshclam_var_log_t)
setattr_files_pattern(freshclam_t, freshclam_var_log_t, freshclam_var_log_t)
logging_log_filetrans(freshclam_t, freshclam_var_log_t, file)

stream_connect_pattern(freshclam_t, clamd_runtime_t, clamd_runtime_t, clamd_t)

read_files_pattern(freshclam_t, clamd_var_log_t, clamd_var_log_t)

kernel_dontaudit_list_proc(freshclam_t)
kernel_read_kernel_sysctls(freshclam_t)
kernel_read_network_state(freshclam_t)
kernel_read_system_state(freshclam_t)

corenet_all_recvfrom_netlabel(freshclam_t)
corenet_tcp_sendrecv_generic_if(freshclam_t)
corenet_tcp_sendrecv_generic_node(freshclam_t)

corenet_sendrecv_clamd_client_packets(freshclam_t)
corenet_tcp_connect_clamd_port(freshclam_t)

corenet_sendrecv_http_client_packets(freshclam_t)
corenet_tcp_connect_http_port(freshclam_t)

corenet_sendrecv_http_cache_client_packets(freshclam_t)
corenet_tcp_connect_http_cache_port(freshclam_t)

corenet_sendrecv_squid_client_packets(freshclam_t)
corenet_tcp_connect_squid_port(freshclam_t)

dev_read_rand(freshclam_t)
dev_read_urand(freshclam_t)

domain_use_interactive_fds(freshclam_t)

files_read_etc_runtime_files(freshclam_t)
files_read_usr_files(freshclam_t)
files_search_var_lib(freshclam_t)

auth_use_nsswitch(freshclam_t)

logging_send_syslog_msg(freshclam_t)

miscfiles_read_generic_certs(freshclam_t)
miscfiles_read_localization(freshclam_t)

tunable_policy(`clamd_use_jit',`
	allow freshclam_t self:process execmem;
',`
	dontaudit freshclam_t self:process execmem;
')

optional_policy(`
	amavis_manage_spool_files(freshclam_t)
')

optional_policy(`
	cron_system_entry(freshclam_t, freshclam_exec_t)
')

########################################
#
# Clamscam local policy
#

allow clamscan_t self:capability { dac_override setgid setuid };
allow clamscan_t self:fifo_file rw_fifo_file_perms;
allow clamscan_t self:unix_stream_socket create_stream_socket_perms;
allow clamscan_t self:unix_dgram_socket create_socket_perms;
allow clamscan_t self:tcp_socket { accept listen };

allow clamscan_t clamd_etc_t:dir list_dir_perms;
read_files_pattern(clamscan_t, clamd_etc_t, clamd_etc_t)
read_lnk_files_pattern(clamscan_t, clamd_etc_t, clamd_etc_t)

manage_dirs_pattern(clamscan_t, clamscan_tmp_t, clamscan_tmp_t)
manage_files_pattern(clamscan_t, clamscan_tmp_t, clamscan_tmp_t)
files_tmp_filetrans(clamscan_t, clamscan_tmp_t, { dir file })

read_files_pattern(clamscan_t, clam_scannable_type, clam_scannable_type)
read_lnk_files_pattern(clamscan_t, clam_scannable_type, clam_scannable_type)
list_dirs_pattern(clamscan_t, clam_scannable_type, clam_scannable_type)

allow clamscan_t clamd_var_lib_t:dir list_dir_perms;
manage_files_pattern(clamscan_t, clamd_var_lib_t, clamd_var_lib_t)

allow clamscan_t clamd_runtime_t:dir list_dir_perms;
read_files_pattern(clamscan_t, clamd_runtime_t, clamd_runtime_t)

stream_connect_pattern(clamscan_t, clamd_runtime_t, clamd_runtime_t, clamd_t)

kernel_dontaudit_list_proc(clamscan_t)
kernel_read_kernel_sysctls(clamscan_t)
kernel_read_system_state(clamscan_t)

corenet_all_recvfrom_netlabel(clamscan_t)
corenet_tcp_sendrecv_generic_if(clamscan_t)
corenet_tcp_sendrecv_generic_node(clamscan_t)

corenet_sendrecv_clamd_client_packets(clamscan_t)
corenet_tcp_connect_clamd_port(clamscan_t)

corecmd_read_all_executables(clamscan_t)

files_read_etc_files(clamscan_t)
files_read_etc_runtime_files(clamscan_t)
files_search_var_lib(clamscan_t)

init_read_utmp(clamscan_t)
init_dontaudit_write_utmp(clamscan_t)

miscfiles_read_localization(clamscan_t)
miscfiles_read_public_files(clamscan_t)

sysnet_dns_name_resolve(clamscan_t)

tunable_policy(`clamav_read_user_content_files_clamscan',`
	userdom_read_user_home_content_files(clamscan_t)
	userdom_dontaudit_read_user_home_content_files(clamscan_t)
')

tunable_policy(`clamav_read_all_non_security_files_clamscan',`
	files_read_non_security_files(clamscan_t)
	files_getattr_all_pipes(clamscan_t)
	files_getattr_all_sockets(clamscan_t)
')

optional_policy(`
	mta_send_mail(clamscan_t)
')
