policy_module(container)

########################################
#
# Declarations
#

attribute container_domain;

attribute_role container_roles;
roleattribute system_r container_roles;

container_domain_template(container)
typealias container_t alias svirt_lxc_net_t;

type container_file_t alias svirt_lxc_file_t;
files_mountpoint(container_file_t)
files_associate_rootfs(container_file_t)
fs_noxattr_type(container_file_t)
term_pty(container_file_t)

########################################
#
# Common container domain local policy
#

allow container_domain self:capability { dac_override kill setgid setuid sys_boot };
allow container_domain self:process { execstack execmem getattr signal_perms getsched setsched setcap setpgid };
allow container_domain self:fifo_file manage_fifo_file_perms;
allow container_domain self:sem create_sem_perms;
allow container_domain self:shm create_shm_perms;
allow container_domain self:msgq create_msgq_perms;
allow container_domain self:unix_stream_socket { create_stream_socket_perms connectto };
allow container_domain self:unix_dgram_socket { sendto create_socket_perms };

manage_dirs_pattern(container_domain, container_file_t, container_file_t)
manage_files_pattern(container_domain, container_file_t, container_file_t)
manage_lnk_files_pattern(container_domain, container_file_t, container_file_t)
manage_sock_files_pattern(container_domain, container_file_t, container_file_t)
manage_fifo_files_pattern(container_domain, container_file_t, container_file_t)
rw_chr_files_pattern(container_domain, container_file_t, container_file_t)
rw_blk_files_pattern(container_domain, container_file_t, container_file_t)

can_exec(container_domain, container_file_t)

kernel_getattr_proc(container_domain)
kernel_list_all_proc(container_domain)
kernel_read_kernel_sysctls(container_domain)
kernel_rw_net_sysctls(container_domain)
kernel_read_system_state(container_domain)
kernel_dontaudit_search_kernel_sysctl(container_domain)

corecmd_exec_all_executables(container_domain)

files_dontaudit_getattr_all_dirs(container_domain)
files_dontaudit_getattr_all_files(container_domain)
files_dontaudit_getattr_all_symlinks(container_domain)
files_dontaudit_getattr_all_pipes(container_domain)
files_dontaudit_getattr_all_sockets(container_domain)
files_dontaudit_list_all_mountpoints(container_domain)
files_dontaudit_write_etc_runtime_files(container_domain)
# files_entrypoint_all_files(container_domain)
files_list_var(container_domain)
files_list_var_lib(container_domain)
files_search_all(container_domain)
files_read_config_files(container_domain)
files_read_usr_files(container_domain)
files_read_usr_symlinks(container_domain)

fs_getattr_all_fs(container_domain)
fs_list_inotifyfs(container_domain)

# fs_rw_inherited_tmpfs_files(container_domain)
# fs_rw_inherited_cifs_files(container_domain)
# fs_rw_inherited_noxattr_fs_files(container_domain)

auth_dontaudit_read_login_records(container_domain)
auth_dontaudit_write_login_records(container_domain)
auth_search_pam_console_data(container_domain)

clock_read_adjtime(container_domain)

init_read_utmp(container_domain)
init_dontaudit_write_utmp(container_domain)

libs_dontaudit_setattr_lib_files(container_domain)

miscfiles_read_localization(container_domain)
miscfiles_dontaudit_setattr_fonts_cache_dirs(container_domain)
miscfiles_read_fonts(container_domain)

mta_dontaudit_read_spool_symlinks(container_domain)

optional_policy(`
	udev_read_runtime_files(container_domain)
')

optional_policy(`
	apache_exec_modules(container_domain)
	apache_read_sys_content(container_domain)
')

optional_policy(`
	virt_lxc_use_fds(container_domain)
	virt_lxc_rw_pipes(container_domain)
	virt_lxc_sigchld(container_domain)
	virt_lxc_stream_connect(container_domain)
	virt_lxc_list_runtime(container_domain)
	virt_lxc_read_runtime(container_domain)
	virt_virsh_use_fds(container_domain)
	virt_virsh_rw_pipes(container_domain)
	virt_virsh_sigchld(container_domain)
')

########################################
#
# Container local policy
#

allow container_t self:capability { chown dac_override dac_read_search fowner fsetid net_admin net_raw setpcap sys_admin sys_nice sys_ptrace sys_resource };
dontaudit container_t self:capability2 block_suspend;
allow container_t self:process setrlimit;
allow container_t self:tcp_socket { accept listen };
allow container_t self:netlink_route_socket nlmsg_write;
allow container_t self:packet_socket create_socket_perms;
allow container_t self:socket create_socket_perms;
allow container_t self:rawip_socket create_socket_perms;
allow container_t self:netlink_socket create_socket_perms;
allow container_t self:netlink_tcpdiag_socket create_socket_perms;
allow container_t self:netlink_kobject_uevent_socket create_socket_perms;

allow container_t container_file_t:file entrypoint;
allow container_t container_file_t:filesystem getattr;

kernel_read_network_state(container_t)
kernel_read_irq_sysctls(container_t)

corenet_all_recvfrom_netlabel(container_t)
corenet_tcp_sendrecv_generic_if(container_t)
corenet_udp_sendrecv_generic_if(container_t)
corenet_tcp_sendrecv_generic_node(container_t)
corenet_udp_sendrecv_generic_node(container_t)
corenet_tcp_bind_generic_node(container_t)
corenet_udp_bind_generic_node(container_t)

corenet_sendrecv_all_server_packets(container_t)
corenet_udp_bind_all_ports(container_t)
corenet_tcp_bind_all_ports(container_t)

corenet_sendrecv_all_client_packets(container_t)
corenet_tcp_connect_all_ports(container_t)

dev_getattr_mtrr_dev(container_t)
dev_read_rand(container_t)
dev_read_sysfs(container_t)
dev_read_urand(container_t)

files_read_kernel_modules(container_t)

fs_mount_cgroup(container_t)
fs_manage_cgroup_dirs(container_t)
fs_rw_cgroup_files(container_t)

auth_use_nsswitch(container_t)

logging_send_audit_msgs(container_t)

userdom_use_user_ptys(container_t)

optional_policy(`
	rpm_read_db(container_t)
')
