policy_module(dnsmasq, 1.17.2)

########################################
#
# Declarations
#

type dnsmasq_t;
type dnsmasq_exec_t;
init_daemon_domain(dnsmasq_t, dnsmasq_exec_t)

type dnsmasq_initrc_exec_t;
init_script_file(dnsmasq_initrc_exec_t)

type dnsmasq_etc_t;
files_config_file(dnsmasq_etc_t)

type dnsmasq_lease_t;
files_type(dnsmasq_lease_t)

type dnsmasq_runtime_t alias dnsmasq_var_run_t;
files_pid_file(dnsmasq_runtime_t)

type dnsmasq_unit_t;
init_unit_file(dnsmasq_unit_t)

type dnsmasq_var_log_t;
logging_log_file(dnsmasq_var_log_t)

########################################
#
# Local policy
#

allow dnsmasq_t self:capability { chown dac_override net_admin net_raw setgid setuid };
dontaudit dnsmasq_t self:capability sys_tty_config;
allow dnsmasq_t self:process { getcap setcap signal_perms };
allow dnsmasq_t self:fifo_file rw_fifo_file_perms;
allow dnsmasq_t self:tcp_socket { accept listen };
allow dnsmasq_t self:packet_socket create_socket_perms;
allow dnsmasq_t self:rawip_socket create_socket_perms;

allow dnsmasq_t dnsmasq_etc_t:dir list_dir_perms;
allow dnsmasq_t dnsmasq_etc_t:file read_file_perms;

manage_files_pattern(dnsmasq_t, dnsmasq_lease_t, dnsmasq_lease_t)
files_var_lib_filetrans(dnsmasq_t, dnsmasq_lease_t, file)

allow dnsmasq_t dnsmasq_var_log_t:file append_file_perms;
allow dnsmasq_t dnsmasq_var_log_t:file create_file_perms;
allow dnsmasq_t dnsmasq_var_log_t:file setattr_file_perms;
logging_log_filetrans(dnsmasq_t, dnsmasq_var_log_t, file)

manage_dirs_pattern(dnsmasq_t, dnsmasq_runtime_t, dnsmasq_runtime_t)
manage_files_pattern(dnsmasq_t, dnsmasq_runtime_t, dnsmasq_runtime_t)
files_pid_filetrans(dnsmasq_t, dnsmasq_runtime_t, { dir file })

kernel_read_kernel_sysctls(dnsmasq_t)
kernel_read_net_sysctls(dnsmasq_t)
kernel_read_network_state(dnsmasq_t)
kernel_read_system_state(dnsmasq_t)
kernel_request_load_module(dnsmasq_t)

corecmd_exec_shell(dnsmasq_t)

corenet_all_recvfrom_unlabeled(dnsmasq_t)
corenet_all_recvfrom_netlabel(dnsmasq_t)
corenet_tcp_sendrecv_generic_if(dnsmasq_t)
corenet_udp_sendrecv_generic_if(dnsmasq_t)
corenet_raw_sendrecv_generic_if(dnsmasq_t)
corenet_tcp_sendrecv_generic_node(dnsmasq_t)
corenet_udp_sendrecv_generic_node(dnsmasq_t)
corenet_raw_sendrecv_generic_node(dnsmasq_t)
corenet_tcp_sendrecv_all_ports(dnsmasq_t)
corenet_udp_sendrecv_all_ports(dnsmasq_t)
corenet_tcp_bind_generic_node(dnsmasq_t)
corenet_udp_bind_generic_node(dnsmasq_t)

corenet_sendrecv_dns_server_packets(dnsmasq_t)
corenet_tcp_bind_dns_port(dnsmasq_t)
corenet_sendrecv_dhcpd_server_packets(dnsmasq_t)
corenet_udp_bind_all_ports(dnsmasq_t)

dev_read_sysfs(dnsmasq_t)
dev_read_urand(dnsmasq_t)

domain_use_interactive_fds(dnsmasq_t)

files_read_etc_runtime_files(dnsmasq_t)

fs_getattr_all_fs(dnsmasq_t)
fs_search_auto_mountpoints(dnsmasq_t)

auth_use_nsswitch(dnsmasq_t)

logging_send_syslog_msg(dnsmasq_t)

miscfiles_read_localization(dnsmasq_t)

userdom_dontaudit_use_unpriv_user_fds(dnsmasq_t)
userdom_dontaudit_search_user_home_dirs(dnsmasq_t)

optional_policy(`
	cobbler_read_lib_files(dnsmasq_t)
')

optional_policy(`
	dbus_connect_system_bus(dnsmasq_t)
	dbus_system_bus_client(dnsmasq_t)
')

optional_policy(`
	networkmanager_read_pid_files(dnsmasq_t)
')

optional_policy(`
	ppp_read_pid_files(dnsmasq_t)
')

optional_policy(`
	seutil_sigchld_newrole(dnsmasq_t)
')

optional_policy(`
	tftp_read_content(dnsmasq_t)
')

optional_policy(`
	udev_read_db(dnsmasq_t)
')

optional_policy(`
	virt_manage_lib_files(dnsmasq_t)
	virt_read_pid_files(dnsmasq_t)
	virt_pid_filetrans(dnsmasq_t, dnsmasq_runtime_t, { dir file })
	virt_domtrans_leaseshelper(dnsmasq_t)
')
