## <summary>Policy for docker</summary>

########################################
## <summary>
##	Execute docker CLI in the docker CLI domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`docker_domtrans_cli',`
	gen_require(`
		type dockerc_t, dockerc_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, dockerc_exec_t, dockerc_t)
')

########################################
## <summary>
##	Execute docker CLI in the docker CLI
##	domain, and allow the specified role
##	the docker CLI domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the docker domain.
##	</summary>
## </param>
#
interface(`docker_run_cli',`
	gen_require(`
		type dockerc_t;
	')

	role $2 types dockerc_t;

	docker_domtrans_cli($1)
')

########################################
## <summary>
##	All of the rules required to
##	administrate a docker
##	environment.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`docker_admin',`
	docker_run_cli($1, $2)
')
