
policy_module(fprintd, 1.0.0)

########################################
#
# Declarations
#

type fprintd_t;
type fprintd_exec_t;
dbus_system_domain(fprintd_t, fprintd_exec_t)

type fprintd_var_lib_t;
files_type(fprintd_var_lib_t)

########################################
#
# Local policy
#

allow fprintd_t self:capability sys_ptrace;
allow fprintd_t self:fifo_file rw_fifo_file_perms;
allow fprintd_t self:process { getsched signal };

manage_dirs_pattern(fprintd_t, fprintd_var_lib_t, fprintd_var_lib_t)
manage_files_pattern(fprintd_t, fprintd_var_lib_t, fprintd_var_lib_t)
files_var_lib_filetrans(fprintd_t, fprintd_var_lib_t, { dir file })

kernel_read_system_state(fprintd_t)

corecmd_search_bin(fprintd_t)

dev_list_usbfs(fprintd_t)
dev_rw_generic_usb_dev(fprintd_t)
dev_read_sysfs(fprintd_t)

files_read_etc_files(fprintd_t)
files_read_usr_files(fprintd_t)

auth_use_nsswitch(fprintd_t)

miscfiles_read_localization(fprintd_t)

userdom_use_user_ptys(fprintd_t)
userdom_read_all_users_state(fprintd_t)

optional_policy(`
	consolekit_dbus_chat(fprintd_t)
')

optional_policy(`
	policykit_read_reload(fprintd_t)
	policykit_read_lib(fprintd_t)
	policykit_domtrans_auth(fprintd_t)
')
