policy_module(geoclue, 1.1.0)

########################################
#
# Declarations
#

type geoclue_t;
type geoclue_exec_t;
dbus_system_domain(geoclue_t, geoclue_exec_t)

type geoclue_etc_t;
files_config_file(geoclue_etc_t)

type geoclue_var_lib_t;
files_type(geoclue_var_lib_t)

########################################
#
# Local policy
#

read_files_pattern(geoclue_t, geoclue_etc_t, geoclue_etc_t)

kernel_read_kernel_sysctls(geoclue_t)

corenet_tcp_connect_http_port(geoclue_t)

dev_read_urand(geoclue_t)

auth_use_nsswitch(geoclue_t)

miscfiles_read_generic_certs(geoclue_t)
miscfiles_read_localization(geoclue_t)

optional_policy(`
	avahi_dbus_chat(geoclue_t)
')

optional_policy(`
	networkmanager_dbus_chat(geoclue_t)
')

optional_policy(`
	modemmanager_dbus_chat(geoclue_t)
')
