## <summary>policy for k3s</summary>

#######################################
## <summary>
##	Execute k3s in the k3s domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`k3s_domtrans',`
	gen_require(`
		type k3s_t, k3s_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, k3s_exec_t, k3s_t)
')

########################################
## <summary>
##	Execute k3s in the k3s domain,
##	and allow the specified role the
##	k3s domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the k3s domain.
##	</summary>
## </param>
#
interface(`k3s_run',`
	gen_require(`
		type k3s_t;
	')

	role $2 types k3s_t;

	k3s_domtrans($1)
')

#######################################
## <summary>
##  All of the rules required to
##  administrate a k3s environment.
## </summary>
## <param name="domain">
##  <summary>
##  Domain allowed access.
##  </summary>
## </param>
## <param name="role">
##  <summary>
##  Role allowed access.
##  </summary>
## </param>
## <rolecap/>
#
interface(`k3s_admin',`
	k3s_run($1, $2)
')
