
policy_module(kerneloops, 1.0.0)

########################################
#
# Declarations
#

type kerneloops_t;
type kerneloops_exec_t;
init_daemon_domain(kerneloops_t, kerneloops_exec_t)

########################################
#
# kerneloops local policy
#

allow kerneloops_t self:capability sys_nice;
allow kerneloops_t self:process { setsched getsched };
allow kerneloops_t self:fifo_file rw_file_perms;

kernel_read_ring_buffer(kerneloops_t)

# Init script handling
domain_use_interactive_fds(kerneloops_t)

corenet_all_recvfrom_unlabeled(kerneloops_t)
corenet_all_recvfrom_netlabel(kerneloops_t)
corenet_tcp_sendrecv_all_if(kerneloops_t)
corenet_tcp_sendrecv_all_nodes(kerneloops_t)
corenet_tcp_sendrecv_all_ports(kerneloops_t)
corenet_tcp_bind_http_port(kerneloops_t)
corenet_tcp_connect_http_port(kerneloops_t)

files_read_etc_files(kerneloops_t)

libs_use_ld_so(kerneloops_t)
libs_use_shared_libs(kerneloops_t)

logging_send_syslog_msg(kerneloops_t)
logging_read_generic_logs(kerneloops_t)

miscfiles_read_localization(kerneloops_t)

sysnet_dns_name_resolve(kerneloops_t)

optional_policy(`
	dbus_system_bus_client_template(kerneloops, kerneloops_t)
	dbus_connect_system_bus(kerneloops_t)
')
