policy_module(ksmtuned,1.0.0)

########################################
#
# Declarations
#

type ksmtuned_t;
type ksmtuned_exec_t;
init_daemon_domain(ksmtuned_t, ksmtuned_exec_t)

type ksmtuned_initrc_exec_t;
init_script_file(ksmtuned_initrc_exec_t)

type ksmtuned_var_run_t;
files_pid_file(ksmtuned_var_run_t)

########################################
#
# ksmtuned local policy
#
allow ksmtuned_t self:capability { sys_ptrace sys_tty_config };

# Init script handling
domain_use_interactive_fds(ksmtuned_t)

# internal communication is often done using fifo and unix sockets.
allow ksmtuned_t self:fifo_file rw_file_perms;
allow ksmtuned_t self:unix_stream_socket create_stream_socket_perms;

manage_files_pattern(ksmtuned_t, ksmtuned_var_run_t, ksmtuned_var_run_t)
files_pid_filetrans(ksmtuned_t, ksmtuned_var_run_t, file)

kernel_read_system_state(ksmtuned_t)

dev_rw_sysfs(ksmtuned_t)

domain_read_all_domains_state(ksmtuned_t)

corecmd_exec_bin(ksmtuned_t)

files_read_etc_files(ksmtuned_t)

miscfiles_read_localization(ksmtuned_t)
