policy_module(matrixbot,1.0.0)

########################################
#
# Declarations
#

type matrixbot_t;
type matrixbot_exec_t;
init_daemon_domain(matrixbot_t, matrixbot_exec_t)

type matrixbot_conf_t;
files_config_file(matrixbot_conf_t)

type matrixbot_state_t;
files_type(matrixbot_state_t)

type matrixbot_log_t;
logging_log_file(matrixbot_log_t)

type matrixbot_tmp_t;
files_tmp_file(matrixbot_tmp_t)

allow matrixbot_t self:fifo_file rw_fifo_file_perms;
allow matrixbot_t self:process getsched;
allow matrixbot_t self:netlink_route_socket create_netlink_socket_perms;
allow matrixbot_t self:udp_socket all_udp_socket_perms;
allow matrixbot_t self:tcp_socket create_stream_socket_perms;
allow matrixbot_t self:unix_dgram_socket { create connect };

allow matrixbot_t matrixbot_conf_t:dir { list_dir_perms  };
allow matrixbot_t matrixbot_conf_t:file { read_file_perms };

allow matrixbot_t matrixbot_state_t:dir manage_dir_perms;
allow matrixbot_t matrixbot_state_t:file manage_file_perms;

allow matrixbot_t matrixbot_log_t:file append_file_perms;

manage_dirs_pattern(matrixbot_t, matrixbot_tmp_t, matrixbot_tmp_t)
manage_files_pattern(matrixbot_t, matrixbot_tmp_t, matrixbot_tmp_t)
files_tmp_filetrans(matrixbot_t, matrixbot_tmp_t, { dir file })

kernel_read_system_state(matrixbot_t)
kernel_read_vm_overcommit_sysctl(matrixbot_t)

dev_read_sysfs(matrixbot_t)
dev_read_urand(matrixbot_t)

corecmd_exec_bin(matrixbot_t)
corecmd_exec_shell(matrixbot_t)
corenet_tcp_connect_http_port(matrixbot_t)
corenet_tcp_bind_generic_node(matrixbot_t)

files_exec_usr_files(matrixbot_t)
files_read_etc_files(matrixbot_t)
files_read_etc_symlinks(matrixbot_t)
files_read_usr_symlinks(matrixbot_t)
files_search_tmp(matrixbot_t)
files_search_var_lib(matrixbot_t)
libs_exec_ldconfig(matrixbot_t)
libs_exec_lib_files(matrixbot_t)
logging_send_syslog_msg(matrixbot_t)
miscfiles_read_generic_certs(matrixbot_t)
miscfiles_read_localization(matrixbot_t)

files_manage_generic_tmp_files(matrixbot_t)

sysnet_read_config(matrixbot_t)
