## <summary>Authoritative only name server</summary>

########################################
## <summary>
##	Send and receive datagrams from NSD.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nsd_udp_chat',`
	gen_require(`
		type nsd_t;
	')
	allow $1 nsd_t:udp_socket sendto;
	allow nsd_t $1:udp_socket recvfrom;
')

########################################
## <summary>
##	Connect to NSD over a TCP socket
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`nsd_tcp_connect',`
	gen_require(`
		type nsd_t;
	')

	allow $1 nsd_t:tcp_socket { connectto recvfrom };
	allow nsd_t $1:tcp_socket { acceptfrom recvfrom };
	kernel_tcp_recvfrom($1)
')
