## <summary>Authoritative only name server.</summary>

########################################
## <summary>
##	All of the rules required to
##	administrate an nsd environment.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`nsd_admin',`
	gen_require(`
		type nsd_t, nsd_conf_t, nsd_var_run_t;
		type nsd_initrc_exec_t, nsd_db_t, nsd_zone_t;
	')

	allow $1 nsd_t:process { ptrace signal_perms };
	ps_process_pattern($1, nsd_t)

	init_startstop_service($1, $2, nsd_t, nsd_initrc_exec_t)

	files_search_etc($1)
	admin_pattern($1, { nsd_conf_t nsd_db_t })

	files_search_var_lib($1)
	admin_pattern($1, nsd_zone_t)

	files_list_pids($1)
	admin_pattern($1, nsd_var_run_t)
')
