## <summary>Non-Uniform Memory Alignment Daemon.</summary>

########################################
## <summary>
##	All of the rules required to
##	administrate an numad environment.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`numad_admin',`
	gen_require(`
		type numad_t, numad_initrc_exec_t, numad_log_t;
		type numad_var_run_t;
	')

	allow $1 numad_t:process { ptrace signal_perms };
	ps_process_pattern($1, numad_t)

	init_startstop_service($1, $2, numad_t, numad_initrc_exec_t)

	logging_search_logs($1)
	admin_pattern($1, numad_log_t)

	files_search_pids($1)
	admin_pattern($1, numad_var_run_t)
')
