## <summary>ofono</summary>
#
## <desc>
## oFono is a stack for mobile telephony devices on Linux.
## oFono supports speaking to telephony devices through specific drivers,
## or with generic AT commands.
##
## https://git.kernel.org/pub/scm/network/ofono/ofono.git
## </desc>
