## <summary>full-featured SSL VPN solution</summary>

########################################
## <summary>
##	Allow the specified domain to read
##	OpenVPN configuration files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`openvpn_read_config',`
	gen_require(`
		type openvpn_etc_t;
	')

	files_search_etc($1)
	allow $1 openvpn_etc_t:dir r_dir_perms;
	allow $1 openvpn_etc_t:file r_file_perms;
	allow $1 openvpn_etc_t:lnk_file { getattr read };
')
