policy_module(openct, 1.10.1)

########################################
#
# Declarations
#

type openct_t;
type openct_exec_t;
init_daemon_domain(openct_t, openct_exec_t)

type openct_initrc_exec_t;
init_script_file(openct_initrc_exec_t)

type openct_runtime_t alias openct_var_run_t;
files_pid_file(openct_runtime_t)

########################################
#
# Local policy
#

dontaudit openct_t self:capability sys_tty_config;
allow openct_t self:process signal_perms;
allow openct_t self:netlink_kobject_uevent_socket create_socket_perms;

manage_dirs_pattern(openct_t, openct_runtime_t, openct_runtime_t)
manage_files_pattern(openct_t, openct_runtime_t, openct_runtime_t)
manage_sock_files_pattern(openct_t, openct_runtime_t, openct_runtime_t)
files_pid_filetrans(openct_t, openct_runtime_t, { dir file sock_file })

can_exec(openct_t, openct_exec_t)

kernel_read_kernel_sysctls(openct_t)
kernel_list_proc(openct_t)
kernel_read_proc_symlinks(openct_t)

dev_read_sysfs(openct_t)
dev_rw_usbfs(openct_t)
dev_rw_smartcard(openct_t)
dev_rw_generic_usb_dev(openct_t)

domain_use_interactive_fds(openct_t)

files_read_etc_files(openct_t)

fs_getattr_all_fs(openct_t)
fs_search_auto_mountpoints(openct_t)

logging_send_syslog_msg(openct_t)

miscfiles_read_localization(openct_t)

userdom_dontaudit_use_unpriv_user_fds(openct_t)
userdom_dontaudit_search_user_home_dirs(openct_t)

optional_policy(`
	pcscd_stream_connect(openct_t)
')

optional_policy(`
	seutil_sigchld_newrole(openct_t)
')

optional_policy(`
	udev_read_db(openct_t)
')
