policy_module(pcscd)

########################################
#
# Declarations
#

type pcscd_t;
type pcscd_exec_t;
init_daemon_domain(pcscd_t, pcscd_exec_t)

type pcscd_initrc_exec_t;
init_script_file(pcscd_initrc_exec_t)

type pcscd_runtime_t alias pcscd_var_run_t;
files_runtime_file(pcscd_runtime_t)
init_daemon_runtime_file(pcscd_runtime_t, dir, "pcscd")

type pcscd_unit_t;
init_unit_file(pcscd_unit_t)

########################################
#
# Local policy
#

allow pcscd_t self:capability { dac_override dac_read_search fsetid };
allow pcscd_t self:process signal;
allow pcscd_t self:fifo_file rw_fifo_file_perms;
allow pcscd_t self:unix_stream_socket { accept listen };
allow pcscd_t self:tcp_socket { accept listen };
allow pcscd_t self:netlink_kobject_uevent_socket create_socket_perms;

manage_dirs_pattern(pcscd_t, pcscd_runtime_t, pcscd_runtime_t)
manage_files_pattern(pcscd_t, pcscd_runtime_t, pcscd_runtime_t)
manage_fifo_files_pattern(pcscd_t, pcscd_runtime_t, pcscd_runtime_t)
manage_sock_files_pattern(pcscd_t, pcscd_runtime_t, pcscd_runtime_t)
files_runtime_filetrans(pcscd_t, pcscd_runtime_t, { file sock_file dir })

kernel_read_system_state(pcscd_t)

corenet_all_recvfrom_netlabel(pcscd_t)
corenet_tcp_sendrecv_generic_if(pcscd_t)
corenet_tcp_sendrecv_generic_node(pcscd_t)

corenet_sendrecv_http_client_packets(pcscd_t)
corenet_tcp_connect_http_port(pcscd_t)

dev_rw_generic_usb_dev(pcscd_t)
dev_rw_smartcard(pcscd_t)
dev_rw_usbfs(pcscd_t)
dev_read_sysfs(pcscd_t)

files_read_etc_files(pcscd_t)
files_read_etc_runtime_files(pcscd_t)

term_use_unallocated_ttys(pcscd_t)
term_dontaudit_getattr_pty_dirs(pcscd_t)

locallogin_use_fds(pcscd_t)

logging_send_syslog_msg(pcscd_t)

miscfiles_read_localization(pcscd_t)

sysnet_dns_name_resolve(pcscd_t)

optional_policy(`
	dbus_system_bus_client(pcscd_t)

	optional_policy(`
		policykit_dbus_chat(pcscd_t)
	')
')

optional_policy(`
	openct_stream_connect(pcscd_t)
	openct_read_runtime_files(pcscd_t)
	openct_signull(pcscd_t)
')

optional_policy(`
	rpm_use_script_fds(pcscd_t)
')

