## <summary>pd-mapper</summary>
#
## <desc>
## Qualcomm’s pd‑mapper service is the userspace Protection Domain mapper
## that enables applications to access remote processors
## (Wi‑Fi, modem, sensors, etc.)
## on Qualcomm SoCs via the QRTR protocol.
##
## https://github.com/linux-msm/pd-mapper
## </desc>
