policy_module(pwauth, 1.1.0)

########################################
#
# Declarations
#

attribute_role pwauth_roles;
roleattribute system_r pwauth_roles;

type pwauth_t;
type pwauth_exec_t;
application_domain(pwauth_t, pwauth_exec_t)
role pwauth_roles types pwauth_t;

type pwauth_var_run_t;
files_pid_file(pwauth_var_run_t)

########################################
#
# Local policy
#

allow pwauth_t self:capability setuid;
allow pwauth_t self:process setrlimit;
allow pwauth_t self:fifo_file manage_fifo_file_perms;
allow pwauth_t self:unix_stream_socket { accept listen };

manage_files_pattern(pwauth_t, pwauth_var_run_t, pwauth_var_run_t)
files_pid_filetrans(pwauth_t, pwauth_var_run_t, file)

domain_use_interactive_fds(pwauth_t)

auth_domtrans_chkpwd(pwauth_t)
auth_use_nsswitch(pwauth_t)

init_read_utmp(pwauth_t)

logging_send_syslog_msg(pwauth_t)
logging_send_audit_msgs(pwauth_t)

miscfiles_read_localization(pwauth_t)
