## <summary>ICQ transport for XMPP server.</summary>

########################################
## <summary>
##	All of the rules required to
##	administrate an pyicqt environment.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`pyicqt_admin',`
	gen_require(`
		type pyicqt_t, pyicqt_log_t, pyicqt_spool_t;
		type pyicqt_var_run_t, pyicqt_initrc_exec_t, pyicqt_conf_t;
	')

	allow $1 pyicqt_t:process { ptrace signal_perms };
	ps_process_pattern($1, pyicqt_t)

	init_startstop_service($1, $2, pyicqt_t, pyicqt_initrc_exec_t)

	files_search_etc($1)
	admin_pattern($1, pyicqt_conf_t)

	logging_search_logs($1)
	admin_pattern($1, pyicqt_log_t)

	files_search_spool($1)
	admin_pattern($1, pyicqt_spool_t)

	files_search_pids($1)
	admin_pattern($1, pyicqt_var_run_t)
')
