policy_module(radvd, 1.20.0)

########################################
#
# Declarations
#
type radvd_t;
type radvd_exec_t;
init_daemon_domain(radvd_t, radvd_exec_t)

type radvd_etc_t;
files_config_file(radvd_etc_t)

type radvd_initrc_exec_t;
init_script_file(radvd_initrc_exec_t)

type radvd_runtime_t alias radvd_var_run_t;
files_runtime_file(radvd_runtime_t)

########################################
#
# Local policy
#

allow radvd_t self:capability { kill net_admin net_raw setgid setuid };
dontaudit radvd_t self:capability sys_tty_config;
allow radvd_t self:process signal_perms;
allow radvd_t self:fifo_file rw_fifo_file_perms;
allow radvd_t self:rawip_socket create_socket_perms;
allow radvd_t self:tcp_socket { accept listen };

allow radvd_t radvd_etc_t:file read_file_perms;

manage_dirs_pattern(radvd_t, radvd_runtime_t, radvd_runtime_t)
manage_files_pattern(radvd_t, radvd_runtime_t, radvd_runtime_t)
files_runtime_filetrans(radvd_t, radvd_runtime_t, { dir file })

kernel_read_kernel_sysctls(radvd_t)
kernel_rw_net_sysctls(radvd_t)
kernel_read_network_state(radvd_t)
kernel_read_system_state(radvd_t)
kernel_request_load_module(radvd_t)

corenet_all_recvfrom_netlabel(radvd_t)
corenet_tcp_sendrecv_generic_if(radvd_t)
corenet_udp_sendrecv_generic_if(radvd_t)
corenet_raw_sendrecv_generic_if(radvd_t)
corenet_tcp_sendrecv_generic_node(radvd_t)
corenet_udp_sendrecv_generic_node(radvd_t)
corenet_raw_sendrecv_generic_node(radvd_t)
corenet_sendrecv_icmp_packets(radvd_t)

dev_read_sysfs(radvd_t)

domain_use_interactive_fds(radvd_t)

files_list_usr(radvd_t)

fs_getattr_all_fs(radvd_t)
fs_search_auto_mountpoints(radvd_t)

auth_use_nsswitch(radvd_t)

logging_send_syslog_msg(radvd_t)

miscfiles_read_localization(radvd_t)

userdom_dontaudit_use_unpriv_user_fds(radvd_t)
userdom_dontaudit_search_user_home_dirs(radvd_t)

optional_policy(`
	seutil_sigchld_newrole(radvd_t)
')

