
policy_module(remotelogin, 1.7.0)

########################################
#
# Declarations
#

type remote_login_t;
domain_interactive_fd(remote_login_t)
auth_login_pgm_domain(remote_login_t)
auth_login_entry_type(remote_login_t)

type remote_login_tmp_t;
files_tmp_file(remote_login_tmp_t)

########################################
#
# Remote login remote policy
#

allow remote_login_t self:capability { dac_override chown fowner fsetid kill setgid setuid net_bind_service sys_nice sys_resource sys_tty_config };
allow remote_login_t self:process ~{ ptrace setcurrent setexec setfscreate setrlimit execmem execstack execheap };
allow remote_login_t self:process { setrlimit setexec };
allow remote_login_t self:fd use;
allow remote_login_t self:fifo_file rw_fifo_file_perms;
allow remote_login_t self:sock_file read_sock_file_perms;
allow remote_login_t self:unix_dgram_socket create_socket_perms;
allow remote_login_t self:unix_stream_socket create_stream_socket_perms;
allow remote_login_t self:unix_dgram_socket sendto;
allow remote_login_t self:unix_stream_socket connectto;
allow remote_login_t self:shm create_shm_perms;
allow remote_login_t self:sem create_sem_perms;
allow remote_login_t self:msgq create_msgq_perms;
allow remote_login_t self:msg { send receive };
allow remote_login_t self:key write;

manage_dirs_pattern(remote_login_t, remote_login_tmp_t, remote_login_tmp_t)
manage_files_pattern(remote_login_t, remote_login_tmp_t, remote_login_tmp_t)
files_tmp_filetrans(remote_login_t, remote_login_tmp_t, { file dir })

kernel_read_system_state(remote_login_t)
kernel_read_kernel_sysctls(remote_login_t)

dev_getattr_mouse_dev(remote_login_t)
dev_setattr_mouse_dev(remote_login_t)
dev_dontaudit_search_sysfs(remote_login_t)

fs_getattr_xattr_fs(remote_login_t)
fs_search_auto_mountpoints(remote_login_t)

term_relabel_all_user_ptys(remote_login_t)

auth_rw_login_records(remote_login_t)
auth_rw_faillog(remote_login_t)
auth_manage_pam_console_data(remote_login_t)
auth_domtrans_pam_console(remote_login_t)

corecmd_list_bin(remote_login_t)
corecmd_read_bin_symlinks(remote_login_t)
# cjp: these are probably not needed:
corecmd_read_bin_files(remote_login_t)
corecmd_read_bin_pipes(remote_login_t)
corecmd_read_bin_sockets(remote_login_t)

domain_read_all_entry_files(remote_login_t)

files_read_etc_files(remote_login_t)
files_read_etc_runtime_files(remote_login_t)
files_list_home(remote_login_t)
files_read_usr_files(remote_login_t)
files_list_world_readable(remote_login_t)
files_read_world_readable_files(remote_login_t)
files_read_world_readable_symlinks(remote_login_t)
files_read_world_readable_pipes(remote_login_t)
files_read_world_readable_sockets(remote_login_t)
files_list_mnt(remote_login_t)
# for when /var/mail is a sym-link
files_read_var_symlinks(remote_login_t)

sysnet_dns_name_resolve(remote_login_t)

miscfiles_read_localization(remote_login_t)

userdom_use_unpriv_users_fds(remote_login_t)
userdom_search_user_home_content(remote_login_t)
# Only permit unprivileged user domains to be entered via rlogin,
# since very weak authentication is used.
userdom_signal_unpriv_users(remote_login_t)
userdom_spec_domtrans_unpriv_users(remote_login_t)

# Search for mail spool file.
mta_getattr_spool(remote_login_t)

tunable_policy(`use_nfs_home_dirs',`
	fs_read_nfs_files(remote_login_t)
	fs_read_nfs_symlinks(remote_login_t)
')

tunable_policy(`use_samba_home_dirs',`
	fs_read_cifs_files(remote_login_t)
	fs_read_cifs_symlinks(remote_login_t)
')

optional_policy(`
	alsa_domtrans(remote_login_t)
')

optional_policy(`
	nis_use_ypbind(remote_login_t)
')

optional_policy(`
	nscd_socket_use(remote_login_t)
')

optional_policy(`
	unconfined_domain(remote_login_t)
	unconfined_shell_domtrans(remote_login_t)
')

optional_policy(`
	usermanage_read_crack_db(remote_login_t)
')
