## <summary>Framework for manageing resolver configurations</summary>

########################################
## <summary>
##  Execute resolvconf in the resolvconf domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`resolvconf_domtrans',`
	gen_require(`
		type resolvconf_t, resolvconf_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, resolvconf_exec_t, resolvconf_t)
')

########################################
## <summary>
##	Execute resolvconf in the resolvconf
##	domain, and allow the specified
##	role the resolvconf domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`resolvconf_run', `
	gen_require(`
		attribute_role resolvconf_roles;
	')

	resolvconf_domtrans($1)
	roleattribute $2 resolvconf_roles;
')
