## <summary>Check and feed random data from hardware device to kernel random device.</summary>

########################################
## <summary>
##	All of the rules required to
##	administrate an rng environment.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`rngd_admin',`
	gen_require(`
		type rngd_t, rngd_initrc_exec_t, rngd_runtime_t;
	')

	allow $1 rngd_t:process { ptrace signal_perms };
	ps_process_pattern($1, rngd_t)

	init_startstop_service($1, $2, rngd_t, rngd_initrc_exec_t)

	files_search_runtime($1)
	admin_pattern($1, rngd_runtime_t)
')
