policy_module(roundup, 1.9.2)

########################################
#
# Declarations
#

type roundup_t;
type roundup_exec_t;
init_daemon_domain(roundup_t, roundup_exec_t)

type roundup_initrc_exec_t;
init_script_file(roundup_initrc_exec_t)

type roundup_runtime_t alias roundup_var_run_t;
files_pid_file(roundup_runtime_t)

type roundup_var_lib_t;
files_type(roundup_var_lib_t)

########################################
#
# Local policy
#

allow roundup_t self:capability { setgid setuid };
dontaudit roundup_t self:capability sys_tty_config;
allow roundup_t self:process signal_perms;
allow roundup_t self:unix_stream_socket { accept listen };
allow roundup_t self:tcp_socket { accept listen };

manage_files_pattern(roundup_t, roundup_var_lib_t, roundup_var_lib_t)
files_var_lib_filetrans(roundup_t, roundup_var_lib_t, file)

manage_files_pattern(roundup_t, roundup_runtime_t, roundup_runtime_t)
files_pid_filetrans(roundup_t, roundup_runtime_t, file)

kernel_read_kernel_sysctls(roundup_t)
kernel_list_proc(roundup_t)
kernel_read_proc_symlinks(roundup_t)

corecmd_exec_bin(roundup_t)

corenet_all_recvfrom_unlabeled(roundup_t)
corenet_all_recvfrom_netlabel(roundup_t)
corenet_tcp_sendrecv_generic_if(roundup_t)
corenet_tcp_sendrecv_generic_node(roundup_t)
corenet_tcp_bind_generic_node(roundup_t)

corenet_sendrecv_http_cache_server_packets(roundup_t)
corenet_tcp_bind_http_cache_port(roundup_t)

corenet_sendrecv_smtp_client_packets(roundup_t)
corenet_tcp_connect_smtp_port(roundup_t)

dev_read_sysfs(roundup_t)
dev_read_urand(roundup_t)

domain_use_interactive_fds(roundup_t)

files_read_etc_files(roundup_t)
files_read_usr_files(roundup_t)

fs_getattr_all_fs(roundup_t)
fs_search_auto_mountpoints(roundup_t)

logging_send_syslog_msg(roundup_t)

miscfiles_read_localization(roundup_t)

sysnet_dns_name_resolve(roundup_t)

userdom_dontaudit_use_unpriv_user_fds(roundup_t)
userdom_dontaudit_search_user_home_dirs(roundup_t)

optional_policy(`
	mysql_stream_connect(roundup_t)
	mysql_tcp_connect(roundup_t)
')

optional_policy(`
	seutil_sigchld_newrole(roundup_t)
')

optional_policy(`
	udev_read_db(roundup_t)
')
