
policy_module(rpcbind, 1.4.0)

########################################
#
# Declarations
#

type rpcbind_t;
type rpcbind_exec_t;
init_daemon_domain(rpcbind_t, rpcbind_exec_t)

type rpcbind_initrc_exec_t;
init_script_file(rpcbind_initrc_exec_t)

type rpcbind_var_run_t;
files_pid_file(rpcbind_var_run_t)

type rpcbind_var_lib_t;
files_type(rpcbind_var_lib_t)

########################################
#
# rpcbind local policy
#

allow rpcbind_t self:capability { dac_override setgid setuid sys_tty_config };
allow rpcbind_t self:fifo_file rw_file_perms;
allow rpcbind_t self:unix_stream_socket create_stream_socket_perms;
allow rpcbind_t self:netlink_route_socket r_netlink_socket_perms;
allow rpcbind_t self:udp_socket create_socket_perms;
allow rpcbind_t self:tcp_socket create_stream_socket_perms;

manage_files_pattern(rpcbind_t, rpcbind_var_run_t, rpcbind_var_run_t)
manage_sock_files_pattern(rpcbind_t, rpcbind_var_run_t, rpcbind_var_run_t)
files_pid_filetrans(rpcbind_t, rpcbind_var_run_t, { file sock_file })

manage_dirs_pattern(rpcbind_t, rpcbind_var_lib_t, rpcbind_var_lib_t)
manage_files_pattern(rpcbind_t, rpcbind_var_lib_t, rpcbind_var_lib_t)
manage_sock_files_pattern(rpcbind_t, rpcbind_var_lib_t, rpcbind_var_lib_t)
files_var_lib_filetrans(rpcbind_t, rpcbind_var_lib_t, { file dir sock_file })

kernel_read_system_state(rpcbind_t)
kernel_read_network_state(rpcbind_t)

corenet_all_recvfrom_unlabeled(rpcbind_t)
corenet_all_recvfrom_netlabel(rpcbind_t)
corenet_tcp_sendrecv_generic_if(rpcbind_t)
corenet_udp_sendrecv_generic_if(rpcbind_t)
corenet_tcp_sendrecv_generic_node(rpcbind_t)
corenet_udp_sendrecv_generic_node(rpcbind_t)
corenet_tcp_sendrecv_all_ports(rpcbind_t)
corenet_udp_sendrecv_all_ports(rpcbind_t)
corenet_tcp_bind_generic_node(rpcbind_t)
corenet_udp_bind_generic_node(rpcbind_t)
corenet_tcp_bind_portmap_port(rpcbind_t)
corenet_udp_bind_portmap_port(rpcbind_t)
corenet_udp_bind_all_rpc_ports(rpcbind_t)

domain_use_interactive_fds(rpcbind_t)

files_read_etc_files(rpcbind_t)
files_read_etc_runtime_files(rpcbind_t)

logging_send_syslog_msg(rpcbind_t)

miscfiles_read_localization(rpcbind_t)

sysnet_dns_name_resolve(rpcbind_t)

ifdef(`hide_broken_symptoms',`
	dontaudit rpcbind_t self:udp_socket listen;
')
