
policy_module(rshd, 1.7.0)

########################################
#
# Declarations
#
type rshd_t;
type rshd_exec_t;
inetd_tcp_service_domain(rshd_t, rshd_exec_t)
domain_subj_id_change_exemption(rshd_t)
domain_role_change_exemption(rshd_t)
role system_r types rshd_t;

########################################
#
# Local policy
#
allow rshd_t self:capability { kill setuid setgid fowner fsetid chown dac_override };
allow rshd_t self:process { signal_perms fork setsched setpgid setexec };
allow rshd_t self:fifo_file rw_fifo_file_perms;
allow rshd_t self:tcp_socket create_stream_socket_perms;

kernel_read_kernel_sysctls(rshd_t)

corenet_all_recvfrom_unlabeled(rshd_t)
corenet_all_recvfrom_netlabel(rshd_t)
corenet_tcp_sendrecv_generic_if(rshd_t)
corenet_udp_sendrecv_generic_if(rshd_t)
corenet_tcp_sendrecv_generic_node(rshd_t)
corenet_udp_sendrecv_generic_node(rshd_t)
corenet_tcp_sendrecv_all_ports(rshd_t)
corenet_udp_sendrecv_all_ports(rshd_t)
corenet_tcp_bind_generic_node(rshd_t)
corenet_tcp_bind_rsh_port(rshd_t)
corenet_tcp_bind_all_rpc_ports(rshd_t)
corenet_tcp_connect_all_ports(rshd_t)
corenet_tcp_connect_all_rpc_ports(rshd_t)
corenet_sendrecv_rsh_server_packets(rshd_t)

dev_read_urand(rshd_t)

selinux_get_fs_mount(rshd_t)
selinux_validate_context(rshd_t)
selinux_compute_access_vector(rshd_t)
selinux_compute_create_context(rshd_t)
selinux_compute_relabel_context(rshd_t)
selinux_compute_user_contexts(rshd_t)

corecmd_read_bin_symlinks(rshd_t)

files_list_home(rshd_t)
files_read_etc_files(rshd_t)
files_search_tmp(rshd_t)

auth_login_pgm_domain(rshd_t)
auth_write_login_records(rshd_t)

init_rw_utmp(rshd_t)

logging_send_syslog_msg(rshd_t)
logging_search_logs(rshd_t)

miscfiles_read_localization(rshd_t)

seutil_read_config(rshd_t)
seutil_read_default_contexts(rshd_t)

userdom_search_user_home_content(rshd_t)

tunable_policy(`use_nfs_home_dirs',`
	fs_read_nfs_files(rshd_t)
	fs_read_nfs_symlinks(rshd_t)
')

tunable_policy(`use_samba_home_dirs',`
	fs_read_cifs_files(rshd_t)
	fs_read_cifs_symlinks(rshd_t)
')

optional_policy(`
	kerberos_keytab_template(rshd, rshd_t)
	kerberos_manage_host_rcache(rshd_t)
')

optional_policy(`
	rlogin_read_home_content(rshd_t)
')

optional_policy(`
	tcpd_wrapped_domain(rshd_t, rshd_exec_t)
')

optional_policy(`
	unconfined_shell_domtrans(rshd_t)
	unconfined_signal(rshd_t)
')
