## <summary>SASL authentication server</summary>

########################################
## <summary>
##	Connect to SASL.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sasl_connect',`
	gen_require(`
		type saslauthd_t, saslauthd_var_run_t;
	')

	files_search_pids($1)
	stream_connect_pattern($1,saslauthd_var_run_t,saslauthd_var_run_t,saslauthd_t)
')

########################################
## <summary>
##	All of the rules required to administrate 
##	an sasl environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed to manage the sasl domain.
##	</summary>
## </param>
## <param name="terminal">
##	<summary>
##	The type of the user terminal.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sasl_admin',`
	gen_require(`
		type sasl_t;
		type sasl_tmp_t;
		type sasl_var_run_t;
	')

	allow $1 sasl_t:process { ptrace signal_perms getattr };
	ps_process_pattern($1, sasl_t)
	        
	files_list_tmp($1)
	manage_files_pattern($1, sasl_tmp_t, sasl_tmp_t)

	files_list_pids($1)
	manage_files_pattern($1, sasl_var_run_t, sasl_var_run_t)
')
