policy_module(slpd, 1.4.2)

########################################
#
# Declarations
#

type slpd_t;
type slpd_exec_t;
init_daemon_domain(slpd_t, slpd_exec_t)

type slpd_initrc_exec_t;
init_script_file(slpd_initrc_exec_t)

type slpd_log_t;
logging_log_file(slpd_log_t)

type slpd_runtime_t alias slpd_var_run_t;
files_pid_file(slpd_runtime_t)

########################################
#
# Local policy
#

allow slpd_t self:capability { kill setgid setuid };
allow slpd_t self:process signal;
allow slpd_t self:fifo_file rw_fifo_file_perms;
allow slpd_t self:tcp_socket { accept listen };
allow slpd_t self:unix_stream_socket create_stream_socket_perms;

allow slpd_t slpd_log_t:file { append_file_perms create_file_perms setattr_file_perms };
logging_log_filetrans(slpd_t, slpd_log_t, file)

manage_files_pattern(slpd_t, slpd_runtime_t, slpd_runtime_t)
files_pid_filetrans(slpd_t, slpd_runtime_t, file)

corenet_all_recvfrom_unlabeled(slpd_t)
corenet_all_recvfrom_netlabel(slpd_t)
corenet_tcp_sendrecv_generic_if(slpd_t)
corenet_udp_sendrecv_generic_if(slpd_t)
corenet_tcp_sendrecv_generic_node(slpd_t)
corenet_udp_sendrecv_generic_node(slpd_t)
corenet_tcp_bind_generic_node(slpd_t)
corenet_udp_bind_generic_node(slpd_t)

corenet_sendrecv_svrloc_server_packets(slpd_t)
corenet_tcp_bind_svrloc_port(slpd_t)
corenet_udp_bind_svrloc_port(slpd_t)

auth_use_nsswitch(slpd_t)

miscfiles_read_localization(slpd_t)
