## <summary>Smart disk monitoring daemon policy</summary>

#######################################
## <summary>
##	Allow caller to read smartmon temporary files.
## </summary>
## <param name="domain">
##	<summary>
##	The process type reading the temporary files.
##	</summary>
## </param>
#
interface(`smartmon_read_tmp_files',`
	gen_require(`
		type fsdaemon_tmp_t;
	')

	allow $1 fsdaemon_tmp_t:file { getattr ioctl read };
')

########################################
## <summary>
##	All of the rules required to administrate 
##	an smartmon environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed to manage the smartmon domain.
##	</summary>
## </param>
## <param name="terminal">
##	<summary>
##	The type of the user terminal.
##	</summary>
## </param>
## <rolecap/>
#
interface(`smartmon_admin',`
	gen_require(`
		type smartmon_t, smartmon_tmp_t, smartmon_var_run_t;
	')

	allow $1 smartmon_t:process { ptrace signal_perms getattr };
	ps_process_pattern($1, smartmon_t)
	        
	files_list_tmp($1)
	manage_files_pattern($1, smartmon_tmp_t, smartmon_tmp_t)

	files_list_pids($1)
	manage_files_pattern($1, smartmon_var_run_t, smartmon_var_run_t)
')
