## <summary>Trivial file transfer protocol daemon</summary>

########################################
## <summary>
##	All of the rules required to administrate 
##	an tftp environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed to manage the tftp domain.
##	</summary>
## </param>
## <param name="terminal">
##	<summary>
##	The type of the user terminal.
##	</summary>
## </param>
## <rolecap/>
#
interface(`tftp_admin',`
	gen_require(`
		type tftp_t, tftpdir_t;
		type tftp_rw_t, tftp_var_run_t;
	')

	allow $1 tftp_t:process { ptrace signal_perms getattr };
	ps_process_pattern($1, tftp_t)
	        
	manage_files_pattern($1, tftp_rw_t, tftp_rw_t)

	manage_files_pattern($1, tftpdir_t, tftpdir_t)

	files_list_pids($1)
	manage_files_pattern($1, tftp_var_run_t, tftp_var_run_t)
')
