policy_module(timidity)

########################################
#
# Declarations
#

type timidity_t;
type timidity_exec_t;
init_daemon_domain(timidity_t, timidity_exec_t)
application_executable_file(timidity_exec_t)

type timidity_tmpfs_t;
files_tmpfs_file(timidity_tmpfs_t)

########################################
#
# Local policy
#

allow timidity_t self:capability { dac_override dac_read_search };
dontaudit timidity_t self:capability sys_tty_config;
allow timidity_t self:process { signal_perms getsched };
allow timidity_t self:shm create_shm_perms;
allow timidity_t self:unix_stream_socket { accept listen };
allow timidity_t self:tcp_socket create_stream_socket_perms;
allow timidity_t self:udp_socket create_socket_perms;

manage_dirs_pattern(timidity_t, timidity_tmpfs_t, timidity_tmpfs_t)
manage_files_pattern(timidity_t, timidity_tmpfs_t, timidity_tmpfs_t)
manage_lnk_files_pattern(timidity_t, timidity_tmpfs_t, timidity_tmpfs_t)
manage_fifo_files_pattern(timidity_t, timidity_tmpfs_t, timidity_tmpfs_t)
manage_sock_files_pattern(timidity_t, timidity_tmpfs_t, timidity_tmpfs_t)
fs_tmpfs_filetrans(timidity_t, timidity_tmpfs_t, { dir file lnk_file sock_file fifo_file })

kernel_read_kernel_sysctls(timidity_t)
kernel_read_system_state(timidity_t)

corenet_all_recvfrom_netlabel(timidity_t)
corenet_tcp_sendrecv_generic_if(timidity_t)
corenet_udp_sendrecv_generic_if(timidity_t)
corenet_tcp_sendrecv_generic_node(timidity_t)
corenet_udp_sendrecv_generic_node(timidity_t)

dev_read_sysfs(timidity_t)
dev_read_sound(timidity_t)
dev_write_sound(timidity_t)

domain_use_interactive_fds(timidity_t)

files_read_etc_files(timidity_t)
files_read_usr_files(timidity_t)
files_search_tmp(timidity_t)

fs_search_auto_mountpoints(timidity_t)

libs_read_lib_files(timidity_t)

logging_send_syslog_msg(timidity_t)

sysnet_read_config(timidity_t)

userdom_dontaudit_use_unpriv_user_fds(timidity_t)
userdom_search_user_home_dirs(timidity_t)

optional_policy(`
	seutil_sigchld_newrole(timidity_t)
')

