## <summary>University of Washington IMAP toolkit POP3 and IMAP mail server</summary>

########################################
## <summary>
##	Execute the UW IMAP/POP3 servers with a domain transition.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`uwimap_domtrans',`
	gen_require(`
		type imapd_t, imapd_exec_t;
	')

	corecmd_search_sbin($1)
	domain_auto_trans($1,imapd_exec_t,imapd_t)

	allow $1 imapd_t:fd use;
	allow imapd_t $1:fd use;
	allow imapd_t $1:fifo_file rw_file_perms;
	allow imapd_t $1:process sigchld;
')
