## <summary>Policy for Docportal, the portal frontend service for Flatpak, Snap, etc.</summary>

########################################
## <summary>
##	Role access for docportal (user-service mode).
##	Call this from unprivuser.te / staff.te etc
## </summary>
## <param name="role_prefix">
##	<summary>
##	The prefix of the user role (e.g., "user" for user_r).
##	</summary>
## </param>
## <param name="user_domain">
##	<summary>
##	User domain for the role (e.g., user_t).
##	</summary>
## </param>
## <param name="systemd_exec_domain">
##	<summary>
##	systemd exec domain for execute and transition access
##	(e.g., user_systemd_t).
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access (e.g., user_r).
##	</summary>
## </param>
#
template(`docportal_role',`
	gen_require(`
		type docportal_exec_t;
	')

	type $1_docportal_t;
	role $4 types $1_docportal_t;
	application_type($1_docportal_t)
	storage_rw_fuse($1_docportal_t)
	domtrans_pattern($3, docportal_exec_t, $1_docportal_t)
	domain_entry_file($1_docportal_t, docportal_exec_t)
	allow $1_docportal_t $3:fd use;

	ps_process_pattern($3, $1_docportal_t)
	allow $3 $1_docportal_t:process { sigkill signal signull };

	allow $1_docportal_t self:capability { setuid sys_admin dac_override dac_read_search };
	allow $1_docportal_t self:process signal;
	allow $1_docportal_t self:fifo_file rw_file_perms;
	allow $1_docportal_t $3:unix_stream_socket { read write };
	allow $1_docportal_t $2:dbus send_msg;
	allow $2 $1_docportal_t:dbus send_msg;

	kernel_read_fs_sysctls($1_docportal_t)
	kernel_read_system_state($1_docportal_t)
	kernel_read_vm_overcommit_sysctl($1_docportal_t)

	corecmd_search_bin($1_docportal_t)

	dbus_write_session_runtime_socket($1_docportal_t)
	dbus_all_session_bus_client($1_docportal_t)
	dbus_connect_all_session_bus($1_docportal_t)

	files_mounton_root($1_docportal_t)
	files_read_etc_files($1_docportal_t)
	files_search_home($1_docportal_t)

	fs_getattr_xattr_fs($1_docportal_t)
	fs_getattr_tmpfs($1_docportal_t)
	fs_mount_fusefs($1_docportal_t)
	fs_list_fusefs($1_docportal_t)
	fs_search_fusefs($1_docportal_t)
	fs_unmount_fusefs($1_docportal_t)

	miscfiles_read_localization($1_docportal_t)

	mount_exec($1_docportal_t)
	mount_manage_runtime_files($1_docportal_t)

	userdom_search_user_runtime_root($1_docportal_t)
	userdom_search_user_runtime($1_docportal_t)
	userdom_search_user_home_dirs($1_docportal_t)
	userdom_list_user_tmp($1_docportal_t)

	xdg_search_data_dirs($1_docportal_t)

	userdom_mounton_user_tmp($1_docportal_t)

	optional_policy(`
		dbus_getattr_session_runtime_socket($1_docportal_t)
	')
')

########################################
## <summary>
##	Execute a domain transition to run WirePlumber.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`docportal_domtrans',`
	gen_require(`
		type $1_docportal_t, docportal_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, docportal_exec_t, $1_docportal_t)
')

