
policy_module(gift,1.4.0)

########################################
#
# Declarations
#

type gift_exec_t;
application_executable_file(gift_exec_t)

type giftd_exec_t;
application_executable_file(giftd_exec_t)
