
policy_module(gnome,1.1.0)

##############################
#
# Declarations
#

attribute gnomedomain;

type gconf_etc_t;
files_type(gconf_etc_t)

type gconfd_exec_t;
corecmd_executable_file(gconfd_exec_t)
