policy_module(ipmitool)

########################################
#
# Declarations
#

attribute_role ipmitool_roles;
roleattribute system_r ipmitool_roles;

type ipmitool_t;
type ipmitool_exec_t;
userdom_user_application_domain(ipmitool_t, ipmitool_exec_t)
role ipmitool_roles types ipmitool_t;

########################################
#
# Local policy
#

init_rw_inherited_stream_socket(ipmitool_t)
init_use_fds(ipmitool_t)

dev_rw_ipmi_dev(ipmitool_t)

domain_use_interactive_fds(ipmitool_t)

kernel_read_crypto_sysctls(ipmitool_t)

miscfiles_read_generic_certs(ipmitool_t)
miscfiles_read_localization(ipmitool_t)

userdom_use_user_terminals(ipmitool_t)
