
policy_module(irc, 2.1.0)

########################################
#
# Declarations
#

type irc_t;
type irc_exec_t;
typealias irc_t alias { user_irc_t staff_irc_t sysadm_irc_t };
typealias irc_t alias { auditadm_irc_t secadm_irc_t };
application_domain(irc_t, irc_exec_t)
ubac_constrained(irc_t)

type irc_home_t;
typealias irc_home_t alias { user_irc_home_t staff_irc_home_t sysadm_irc_home_t };
typealias irc_home_t alias { auditadm_irc_home_t secadm_irc_home_t };
userdom_user_home_content(irc_home_t)

type irc_tmp_t;
typealias irc_tmp_t alias { user_irc_tmp_t staff_irc_tmp_t sysadm_irc_tmp_t };
typealias irc_tmp_t alias { auditadm_irc_tmp_t secadm_irc_tmp_t };
userdom_user_home_content(irc_tmp_t)

########################################
#
# Local policy
#

allow irc_t self:unix_stream_socket create_stream_socket_perms;
allow irc_t self:tcp_socket create_socket_perms;
allow irc_t self:udp_socket create_socket_perms;

manage_dirs_pattern(irc_t, irc_home_t, irc_home_t)
manage_files_pattern(irc_t, irc_home_t, irc_home_t)
manage_lnk_files_pattern(irc_t, irc_home_t, irc_home_t)
userdom_user_home_dir_filetrans(irc_t, irc_home_t, { dir file lnk_file })

# access files under /tmp
manage_dirs_pattern(irc_t, irc_tmp_t, irc_tmp_t)
manage_files_pattern(irc_t, irc_tmp_t, irc_tmp_t)
manage_lnk_files_pattern(irc_t, irc_tmp_t, irc_tmp_t)
manage_fifo_files_pattern(irc_t, irc_tmp_t, irc_tmp_t)
manage_sock_files_pattern(irc_t, irc_tmp_t, irc_tmp_t)
files_tmp_filetrans(irc_t, irc_tmp_t, { file dir lnk_file sock_file fifo_file })

kernel_read_proc_symlinks(irc_t)

corenet_all_recvfrom_unlabeled(irc_t)
corenet_all_recvfrom_netlabel(irc_t)
corenet_tcp_sendrecv_generic_if(irc_t)
corenet_udp_sendrecv_generic_if(irc_t)
corenet_tcp_sendrecv_generic_node(irc_t)
corenet_udp_sendrecv_generic_node(irc_t)
corenet_tcp_sendrecv_all_ports(irc_t)
corenet_udp_sendrecv_all_ports(irc_t)
corenet_sendrecv_ircd_client_packets(irc_t)
# cjp: this seems excessive:
corenet_tcp_connect_all_ports(irc_t)
corenet_sendrecv_all_client_packets(irc_t)

domain_use_interactive_fds(irc_t)

files_dontaudit_search_pids(irc_t)
files_search_var(irc_t)
files_read_etc_files(irc_t)
files_read_usr_files(irc_t)

fs_getattr_xattr_fs(irc_t)
fs_search_auto_mountpoints(irc_t)

term_use_controlling_term(irc_t)
term_list_ptys(irc_t)

# allow utmp access
init_read_utmp(irc_t)
init_dontaudit_lock_utmp(irc_t)

miscfiles_read_localization(irc_t)

# Inherit and use descriptors from newrole.
seutil_use_newrole_fds(irc_t)

sysnet_read_config(irc_t)

# Write to the user domain tty.
userdom_use_user_terminals(irc_t)

tunable_policy(`use_nfs_home_dirs',`
	fs_manage_nfs_dirs(irc_t)
	fs_manage_nfs_files(irc_t)
	fs_manage_nfs_symlinks(irc_t)
')

tunable_policy(`use_samba_home_dirs',`
	fs_manage_cifs_dirs(irc_t)
	fs_manage_cifs_files(irc_t)
	fs_manage_cifs_symlinks(irc_t)
')

optional_policy(`
	nis_use_ypbind(irc_t)
')
