policy_module(man2html)

########################################
#
# Declarations
#

apache_content_template(man2html)

type httpd_man2html_script_cache_t;
files_type(httpd_man2html_script_cache_t)

########################################
#
# Local policy
#

manage_dirs_pattern(httpd_man2html_script_t, httpd_man2html_script_cache_t, httpd_man2html_script_cache_t)
manage_files_pattern(httpd_man2html_script_t, httpd_man2html_script_cache_t, httpd_man2html_script_cache_t)
manage_lnk_files_pattern(httpd_man2html_script_t, httpd_man2html_script_cache_t, httpd_man2html_script_cache_t)
files_var_filetrans(httpd_man2html_script_t, httpd_man2html_script_cache_t, dir)

files_read_etc_files(httpd_man2html_script_t)

miscfiles_read_localization(httpd_man2html_script_t)
miscfiles_read_man_pages(httpd_man2html_script_t)
