
policy_module(rssh,1.1.0)

########################################
#
# Declarations
#

attribute rssh_domain_type;
attribute rssh_ro_content_type;

type rssh_exec_t;
application_executable_file(rssh_exec_t)
