
policy_module(screen,1.1.0)

########################################
#
# Declarations
#

type screen_dir_t;
files_pid_file(screen_dir_t)

type screen_exec_t;
corecmd_executable_file(screen_exec_t)
