
policy_module(tvtime,1.3.0)

########################################
#
# Declarations
#

type tvtime_exec_t;
application_executable_file(tvtime_exec_t)

type tvtime_dir_t;
files_pid_file(tvtime_dir_t)
