
policy_module(userhelper, 1.5.0)

########################################
#
# Declarations
#

attribute userhelper_type;

type userhelper_conf_t;
files_type(userhelper_conf_t)

type userhelper_exec_t;
application_executable_file(userhelper_exec_t)
