policy_module(blueman, 1.2.0)

########################################
#
# Declarations
#

type blueman_t;
type blueman_exec_t;
dbus_system_domain(blueman_t, blueman_exec_t)

type blueman_var_lib_t;
files_type(blueman_var_lib_t)

type blueman_var_run_t;
files_pid_file(blueman_var_run_t)

########################################
#
# Local policy
#

allow blueman_t self:capability { net_admin sys_nice };
allow blueman_t self:process { signal_perms setsched };
allow blueman_t self:fifo_file rw_fifo_file_perms;

manage_dirs_pattern(blueman_t, blueman_var_lib_t, blueman_var_lib_t)
manage_files_pattern(blueman_t, blueman_var_lib_t, blueman_var_lib_t)
files_var_lib_filetrans(blueman_t, blueman_var_lib_t, dir)

manage_dirs_pattern(blueman_t, blueman_var_run_t, blueman_var_run_t)
manage_files_pattern(blueman_t, blueman_var_run_t, blueman_var_run_t)
files_pid_filetrans(blueman_t, blueman_var_run_t, { dir file })

kernel_read_net_sysctls(blueman_t)
kernel_read_system_state(blueman_t)
kernel_request_load_module(blueman_t)

corecmd_exec_bin(blueman_t)

dev_read_rand(blueman_t)
dev_read_urand(blueman_t)
dev_rw_wireless(blueman_t)

domain_use_interactive_fds(blueman_t)

files_list_tmp(blueman_t)
files_map_usr_files(blueman_t)
files_read_usr_files(blueman_t)

auth_use_nsswitch(blueman_t)

logging_send_syslog_msg(blueman_t)

miscfiles_read_localization(blueman_t)

sysnet_domtrans_ifconfig(blueman_t)

optional_policy(`
	avahi_domtrans(blueman_t)
')

optional_policy(`
	dnsmasq_domtrans(blueman_t)
	dnsmasq_read_pid_files(blueman_t)
')

optional_policy(`
	iptables_domtrans(blueman_t)
')
