policy_module(hypervkvp, 1.2.0)

########################################
#
# Declarations
#

type hypervkvpd_t;
type hypervkvpd_exec_t;
init_daemon_domain(hypervkvpd_t, hypervkvpd_exec_t)

type hypervkvpd_initrc_exec_t;
init_script_file(hypervkvpd_initrc_exec_t)

########################################
#
# Local policy
#
#

allow hypervkvpd_t self:fifo_file rw_fifo_file_perms;
allow hypervkvpd_t self:unix_stream_socket create_stream_socket_perms;

logging_send_syslog_msg(hypervkvpd_t)

miscfiles_read_localization(hypervkvpd_t)

sysnet_dns_name_resolve(hypervkvpd_t)
