## <summary>libmtp: An Initiatior implementation of the Media Transfer Protocol (MTP).</summary>

###########################################################
## <summary>
##	Role access for libmtp.
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role.
##	</summary>
## </param>
#
interface(`libmtp_role',`
	gen_require(`
		attribute_role libmtp_roles;
		type libmtp_t, libmtp_exec_t;
	')

	roleattribute $1 libmtp_roles;

	domtrans_pattern($2, libmtp_exec_t, libmtp_t)

	allow $2 libmtp_t:process { ptrace signal_perms };
	ps_process_pattern($2, libmtp_t)
')
