body {
	margin:0px;
	padding:0px;
	font-family:verdana, arial, helvetica, sans-serif;
	color:#333;
	background-color:white;
	}
h1 {
	margin:0px 0px 15px 0px;
	padding:0px;
	font-size:28px;
	line-height:28px;
	font-weight:900;
	color:#ccc;
	}
h2 {
	font-size:100%;
	}
h3 {
	font-size:75%;
	}
h4 {
	font-size:67%;
	}
li {
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 0px 0px;
	padding:0px;
	}
p {
	/* normal */
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}
        
tt {
	/* inline code */
	font-family: monospace;
	}
        
table {
        background-color: white;
        color: black;
        text-align: left;
	font:11px/20px verdana, arial, helvetica, sans-serif;
        margin-left: 10%;
        margin-right: 10%;
}

th {
        background-color: #ccccff;
        text-align: center;
}

td.header {
        font-weight: bold;
}
        
#Content>p {margin:0px;}
#Content>p+p {text-indent:30px;}
a {
	color:#09c;
	font-size:11px;
	text-decoration:none;
	font-weight:600;
	font-family:verdana, arial, helvetica, sans-serif;
	}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}

#Codeblock {
	margin:5px 50px 5px 50px;
	padding:5px 0px 5px 15px;
	border-style:solid;
	border-color:black;
	border-width:1px 1px 1px 1px;
	background-color:#f8f8f8;
	font-size:11px;
	font-weight:600;
	text-decoration:none;
	font-family:courier;
}
pre {
	font-size:11px;
	font-weight:600;
	text-decoration:none;
	font-family:courier;
}
pre.codeblock {
        /* code block (bordered, slight gray background) */
	border-style:solid;
	border-color:black;
	border-width:1px 1px 1px 1px;
	background-color:#f8f8f8;
        margin-left: 10%;
        margin-right: 10%;
}
dl {
	/* definition text block */
	font:11px/20px verdana, arial, helvetica, sans-serif;
	margin:0px 0px 16px 0px;
	padding:0px;
	}
dt {
	/* definition term */
        font-weight: bold;
	}

#Header {
	margin:50px 0px 10px 0px;
	padding:17px 0px 0px 20px;
	/* For IE5/Win's benefit height = [correct height] + [top padding] + [top and bottom border widths] */
	height:33px; /* 14px + 17px + 2px = 33px */
	border-style:solid;
	border-color:black;
	border-width:1px 0px; /* top and bottom borders: 1px; left and right borders: 0px */
	line-height:11px;
	font-size:110%;
	background-color:#eee;
	voice-family: "\"}\"";
	voice-family:inherit;
	height:14px; /* the correct height */
	}
body>#Header {height:14px;}
#Content {
	margin:0px 50px 50px 200px;
	padding:10px;
	}

#Menu {
	position:absolute;
	top:100px;
	left:20px;
	width:162px;
	padding:10px;
	background-color:#eee;
	border:1px dashed #999;
	line-height:17px;
	text-align:right;	
	voice-family: "\"}\"";
	voice-family:inherit;
	width:160px;
	}
body>#Menu {width:160px;}
