policy_module(mcs, 1.3.0)

########################################
#
# Declarations
#

attribute mcskillall;
attribute mcsptraceall;
attribute mcssetcats;
attribute mcswriteall;
attribute mcsreadall;
attribute mcs_constrained_type;
