policy_module(ubac, 1.0.0)

########################################
#
# Declarations
#

attribute ubac_constrained_type;

attribute ubacfile;
attribute ubacproc;
attribute ubacsock;
attribute ubacfd;
attribute ubacipc;
attribute ubacxwin;
attribute ubacdbus;
attribute ubackey;
attribute ubacdb;

