# Copyright (C) 2005 Tresys Technology, LLC

#######################################
#
# clock_modify_drift_records(domain)
#
define(`clock_modify_drift_records',`
requires_block_template(`$0'_depend)
# FIXME: search etc_t dir
allow $1 adjtime_t:file { getattr read write ioctl lock append };
')

define(`clock_modify_drift_records_depend',`
type adjtime_t;
class file { getattr read write ioctl lock append };
')
