# Copyright (C) 2005 Tresys Technology, LLC

# Mark process types as domains
attribute domain;

neverallow domain ~domain:process { transition dyntransition };
