# Copyright (C) 2005 Tresys Technology, LLC

#######################################
#
# getty_transition(domain)
#
define(`getty_transition',`
requires_block_template(`$0'_depend)
allow $1 getty_exec_t:file { getattr read execute };
allow $1 getty_t:process transition;
type_transition $1 getty_exec_t:file getty_t;
dontaudit $1 getty_t:process { noatsecure siginh rlimitinh };
')

define(`getty_transition_depend',`
type getty_t, getty_exec_t;
class file { getattr read execute };
class process { transition noatsecure siginh rlimitinh };
')

#######################################
#
# getty_read_log_file(domain)
#
define(`getty_read_log_file',`
requires_block_template(`$0'_depend)
allow $1 getty_log_t:file { getattr read };
')

define(`getty_read_log_file_depend',`
type getty_log_t;
class file { getattr read };
')

#######################################
#
# getty_read_config_file(domain)
#
define(`getty_read_config_file',`
requires_block_template(`$0'_depend)
allow $1 getty_etc_t:file { getattr read };
')

define(`getty_read_config_file_depend',`
type getty_etc_t;
class file { getattr read };
')

#######################################
#
# getty_modify_config_file(domain)
#
define(`getty_modify_config_file',`
requires_block_template(`$0'_depend)
allow $1 getty_etc_t:file { getattr read write };
')

define(`getty_modify_config_file_depend',`
type getty_etc_t;
class file { getattr read write };
')
