## <summary>TCP/IP encryption</summary>

########################################
## <summary>
##	Execute ipsec in the ipsec domain.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`ipsec_domtrans',`
	gen_require(`
		type ipsec_t, ipsec_exec_t;
		class process sigchld;
		class fd use;
		class fifo_file rw_file_perms;
	')

	domain_auto_trans($1,ipsec_exec_t,ipsec_t)

	allow $1 ipsec_t:fd use;
	allow ipsec_t $1:fd use;
	allow ipsec_t $1:fifo_file rw_file_perms;
	allow ipsec_t $1:process sigchld;
')
