# Copyright (C) 2005 Tresys Technology, LLC

#######################################
#
# locallogin_transition(domain,[`optional'])
#
define(`locallogin_transition',`
requires_block_template(locallogin_transition_depend,$2)
allow $1 login_exec_t:file { getattr read execute };
allow $1 local_login_t:process transition;
type_transition $1 login_exec_t:file local_login_t;
dontaudit $1 local_login_t:process { noatsecure siginh rlimitinh };
')

define(`locallogin_transition_depend',`
type local_login_t, login_exec_t;
class file { getattr read execute };
class process { transition noatsecure siginh rlimitinh };
')
