## <module name="locallogin">
## <summary>Policy for local logins.</summary>

########################################
## <interface name="locallogin_domtrans">
##     <desc>
##             Execute local logins in the locallogin domain.
##     </desc>
##     <param name="domain">
##             The type of the process performing this action.
##     </param>
## </interface>
#
interface(`locallogin_domtrans',`
	gen_require(`
		type local_login_t;
	')

	auth_domtrans_login_program($1,local_login_t)
')

########################################
## <interface name="locallogin_use_fd">
##     <desc>
##             Allow processes to inherit local login file descriptors
##     </desc>
##     <param name="domain">
##             The type of the process performing this action.
##     </param>
## </interface>
#
interface(`locallogin_use_fd',`
	gen_require(`
		type local_login_t;
		class fd use;
	')

	allow $1 local_login_t:fd use;
')

## </module>
