## <module name="locallogin" layer="system">
## <summary>Policy for local logins.</summary>

########################################
## <interface name="locallogin_transition">
##     <description>
##             Execute local logins in the locallogin domain.
##     </description>
##     <parameter name="domain">
##             The type of the process performing this action.
##     </parameter>
## </interface>
#
define(`locallogin_transition',`
	requires_block_template(`$0'_depend)

	authlogin_login_program_transition($1,local_login_t)
')

define(`locallogin_transition_depend',`
	type local_login_t;
')

########################################
## <interface name="locallogin_use_file_descriptors">
##     <description>
##             Allow processes to inherit local login file descriptors
##     </description>
##     <parameter name="domain">
##             The type of the process performing this action.
##     </parameter>
## </interface>
#
########################################
#
# locallogin_use_file_descriptors(domain)
#
define(`locallogin_use_file_descriptors',`
	requires_block_template(`$0'_depend)

	allow $1 local_login_t:fd use;
')

define(`locallogin_use_file_descriptors_depend',`
	type local_login_t;

	class fd use;
')

## </module>
