## <module name="logging" layer="system">
## <summary>Policy for the kernel message logger and system logging daemon.</summary>

#######################################
#
# logging_log_file(domain)
#
define(`logging_log_file',`
	gen_require(`$0'_depend)

	files_file_type($1)
	typeattribute $1 logfile;
')

define(`logging_log_file_depend',`
	attribute logfile;
')

########################################
#
# logging_create_log(domain,privatetype,[class(es)])
#
define(`logging_create_log',`
	gen_require(`$0'_depend)

	allow $1 var_log_t:dir rw_dir_perms;

	ifelse(`$3',`',`
		type_transition $1 var_log_t:file $2;
	',`
		type_transition $1 var_log_t:$3 $2;
	')
')

define(`logging_create_log_depend',`
	type var_log_t;

	class dir rw_dir_perms;
')

#######################################
#
# logging_send_syslog_msg(domain)
#
define(`logging_send_syslog_msg',`
	gen_require(`$0'_depend)

	allow $1 devlog_t:lnk_file read;
	allow $1 devlog_t:sock_file rw_file_perms;

	# the type of socket depends on the syslog daemon
	allow $1 syslogd_t:unix_dgram_socket sendto;
	allow $1 syslogd_t:unix_stream_socket connectto;
	allow $1 self:unix_dgram_socket create_socket_perms;
	allow $1 self:unix_stream_socket create_socket_perms;

	# cjp: this should most likely be removed:
	term_use_console($1)
')

define(`logging_send_syslog_msg_depend',`
	type syslogd_t, devlog_t;

	class sock_file rw_file_perms;
	class unix_dgram_socket { create_socket_perms sendto };
	class unix_stream_socket { create_socket_perms connectto };
')

########################################
## <interface name="logging_search_logs">
##	<description>
##		Allows the domain to open a file in the
##		log directory, but does not allow the listing
##		of the contents of the log directory.
##	</description>
##	<parameter name="domain">
##		The type of the process performing this action.
##	</parameter>
## </interface>
#
define(`logging_search_logs',`
	gen_require(`$0'_depend)

	files_search_var($1)
	allow $1 var_log_t:dir search;
')

define(`logging_search_logs_depend',`
	type var_log_t;

	class dir search;
')

#######################################
#
# logging_dontaudit_getattr_all_logs(domain)
#
define(`logging_dontaudit_getattr_all_logs',`
	gen_require(`$0'_depend)

	dontaudit $1 logfile:file getattr;
')

define(`logging_dontaudit_getattr_all_logs_depend',`
	attribute logfile;

	class file getattr;
')

#######################################
#
# logging_append_all_logs(domain)
#
define(`logging_append_all_logs',`
	gen_require(`$0'_depend)

	files_search_var($1)
	allow $1 var_log_t:dir r_dir_perms;
	allow $1 logfile:file { getattr append };
')

define(`logging_append_all_logs_depend',`
	attribute logfile;

	type var_log_t;

	class dir r_dir_perms;
	class file { getattr append };
')

#######################################
#
# logging_read_all_logs(domain)
#
define(`logging_read_all_logs',`
	gen_require(`$0'_depend)

	files_search_var($1)
	allow $1 var_log_t:dir r_dir_perms;
	allow $1 logfile:file r_file_perms;
')

define(`logging_read_all_logs_depend',`
	attribute logfile;

	type var_log_t;

	class dir r_dir_perms;
	class file r_file_perms;
')

#######################################
#
# logging_read_generic_logs(domain)
#
define(`logging_read_generic_logs',`
	gen_require(`$0'_depend)

	files_search_var($1)
	allow $1 var_log_t:dir r_dir_perms;
	allow $1 var_log_t:file r_file_perms;
')

define(`logging_read_generic_logs_depend',`
	type var_log_t;

	class dir r_dir_perms;
	class file r_file_perms;
')

#######################################
#
# logging_write_generic_logs(domain)
#
define(`logging_write_generic_logs',`
	gen_require(`$0'_depend)

	files_search_var($1)
	allow $1 var_log_t:dir r_dir_perms;
	allow $1 var_log_t:file { getattr write };
')

define(`logging_write_generic_logs_depend',`
	type var_log_t;

	class dir r_dir_perms;
	class file { getattr write };
')

#######################################
#
# logging_rw_generic_logs(domain)
#
define(`logging_rw_generic_logs',`
	gen_require(`$0'_depend)

	files_search_var($1)
	allow $1 var_log_t:dir r_dir_perms;
	allow $1 var_log_t:file rw_file_perms;
')

define(`logging_rw_generic_logs_depend',`
	type var_log_t;

	class dir r_dir_perms;
	class file rw_file_perms;
')

## </module>
