
policy_module(miscfiles,1.0)

########################################
#
# Declarations
#

#
# cert_t is the type of files in the system certs directories.
#
type cert_t;
files_type(cert_t)

#
# fonts_t is the type of various font
# files in /usr
#
type fonts_t;
files_type(fonts_t)

#
# Type for anonymous FTP data, used by ftp and rsync
#
type ftpd_anon_t; #, customizable;
files_type(ftpd_anon_t)

type ftpd_anon_rw_t; #, customizable;
files_type(ftpd_anon_rw_t)

#
# type for /tmp/.ICE-unix
#
type ice_tmp_t;
files_tmp_file(ice_tmp_t)

#
# locale_t is the type for system localization
#
type locale_t;
files_type(locale_t)

#
# man_t is the type for the man directories.
#
type man_t alias catman_t;
files_type(man_t)

#
# Base type for the tests directory.
#
type test_file_t;
files_type(test_file_t)

#
# for /var/{spool,lib}/texmf index files
#
type tetex_data_t;
files_tmp_file(tetex_data_t)

ifdef(`TODO',`
allow customizable self:filesystem associate;
') dnl end TODO
