# Copyright (C) 2005 Tresys Technology, LLC

########################################
#
# miscfiles_manage_man_page_cache(domain)
#
define(`miscfiles_manage_man_page_cache',`
requires_block_template(`$0'_depend)
# FIXME: search var_t dir
allow $1 catman_t:dir { create read getattr lock setattr ioctl link unlink rename search add_name remove_name reparent write rmdir };
allow $1 catman_t:file { create ioctl read getattr lock write setattr append link unlink rename };
')

define(`miscfiles_manage_man_page_cache_depend',`
type catman_t;
class dir { create read getattr lock setattr ioctl link unlink rename search add_name remove_name reparent write rmdir };
class file { create ioctl read getattr lock write setattr append link unlink rename };
')

########################################
#
# miscfiles_read_fonts(domain)
#
define(`miscfiles_read_fonts',`
requires_block_template(`$0'_depend)
# FIXME: search usr_t dir
# FIXME: search lib_t dir
# cjp: fonts can be in either of the above dirs
allow $1 fonts_t:dir { getattr read search };
allow $1 fonts_t:file { getattr read };
')

define(`miscfiles_read_fonts_depend',`
type fonts_t;
class dir { getattr read search };
class file { getattr read };
')

########################################
#
# miscfiles_read_localization(domain)
#
define(`miscfiles_read_localization',`
requires_block_template(`$0'_depend)
# FIXME: $1 read etc_t:lnk_file here
# FIXME: $1 search usr_t:dir here

# why?
libraries_read_library_resources($1)

allow $1 locale_t:dir { getattr read search };
allow $1 locale_t:lnk_file { getattr read };
allow $1 locale_t:file { getattr read };
')

define(`miscfiles_read_localization_depend',`
type locale_t;
class dir { getattr read search };
class lnk_file { getattr read };
class file { getattr read };
')

########################################
#
# miscfiles_legacy_read_localization(domain)
#
define(`miscfiles_legacy_read_localization',`
requires_block_template(`$0'_depend)
miscfiles_read_localization($1)
allow $1 locale_t:file execute;
')

define(`miscfiles_read_localization_depend',`
type locale_t;
class file execute;
')

########################################
#
# miscfiles_read_man_pages(domain)
#
define(`miscfiles_read_man_pages',`
requires_block_template(`$0'_depend)
# FIXME: search usr_t dir
allow $1 man_t:dir { getattr read search };
allow $1 man_t:file { getattr read };
allow $1 man_t:lnk_file { getattr read };
')

define(`miscfiles_read_man_pages_depend',`
type man_t;
class dir { getattr read search };
class file { getattr read };
class lnk_file { getattr read };
')
