## <summary>RAID array management tools</summary>

########################################
## <summary>
##	Execute software raid tools in the mdadm domain.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`raid_domtrans_mdadm',`
	gen_require(`
		type mdadm_t, mdadm_exec_t;
		class process sigchld;
		class fd use;
		class fifo_file rw_file_perms;
	')

	corecmd_search_sbin($1)
	domain_auto_trans($1,mdadm_exec_t,mdadm_t)

	allow $1 mdadm_t:fd use;
	allow mdadm_t $1:fd use;
	allow mdadm_t $1:fifo_file rw_file_perms;
	allow mdadm_t $1:process sigchld;
')
