
policy_module(unconfined,1.0)

########################################
#
# Declarations
#

type unconfined_t;
type unconfined_exec_t;
init_system_domain(unconfined_t,unconfined_exec_t)
role system_r types unconfined_t;

########################################
#
# Local policy
#

unconfined_domain_template(unconfined_t)

logging_send_syslog_msg(unconfined_t)

ifdef(`targeted_policy',`
	allow unconfined_t self:system syslog_read;

	# Define some type aliases to help with compatibility with
	# macros and domains from the "strict" policy.
	# cjp: remove xdm_t when we get to that module
	typealias unconfined_t alias { secadm_t sysadm_t xdm_t };

	init_domtrans_script(unconfined_t)

	userdom_unconfined(unconfined_t)

	ifdef(`TODO',`
	ifdef(`samba.te', `samba_domain(user)')
	') dnl end TODO
')
