#DESC ktalkd -  KDE version of the talk server 
#
# Author:  Dan Walsh <dwalsh@redhat.com>
#
# Depends: inetd.te

#################################
#
# Rules for the ktalkd_t domain.
#
# ktalkd_exec_t is the type of the ktalkd executable.
#

inetd_child_domain(ktalkd, udp)
