#DESC sendmail 
#
# Authors:  Daniel Walsh <dwalsh@redhat.com>
#

#################################
#
# Rules for the sendmaild domain.
#
# sendmail_exec_t is the type of the /usr/sbin/sendmail and other programs.
# This domain is defined just for targeted policy. 
#
type sendmail_exec_t, file_type, sysadmfile, exec_type;
type sendmail_log_t, file_type, sysadmfile;
domain_auto_trans(initrc_t, sendmail_exec_t, sendmail_t)
var_run_domain(sendmail)

