## <summary>Policy for the kernel modules, kernel image, and bootloader.</summary>

########################################
## <summary>
##	Execute bootloader in the bootloader domain.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_domtrans',`
	gen_require(`
		type bootloader_t;
		class process sigchld;
		class fd use;
		class fifo_file rw_file_perms;
	')

	domain_auto_trans($1, bootloader_exec_t, bootloader_t)

	allow $1 bootloader_t:fd use;
	allow bootloader_t $1:fd use;
	allow bootloader_t $1:fifo_file rw_file_perms;
	allow bootloader_t $1:process sigchld;
')

########################################
## <summary>
##	Execute bootloader interactively and do
##	a domain transition to the bootloader domain.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
## <param name="role">
##	The role to be allowed the bootloader domain.
## </param>
## <param name="terminal">
##	The type of the terminal allow the bootloader domain to use.
## </param>
#
interface(`bootloader_run',`
	gen_require(`
		type bootloader_t;
		class chr_file rw_file_perms;
	')

	bootloader_domtrans($1)

	role $2 types bootloader_t;
	allow bootloader_t $3:chr_file rw_file_perms;
')

########################################
## <summary>
##	Do not audit attempts to get attributes
##	of the /boot directory.
## </summary>
## <param name="domain">
##	Domain to not audit.
## </param>
#
interface(`bootloader_dontaudit_getattr_boot_dir',`
	gen_require(`
		type boot_t;
		class dir getattr;
	')

	dontaudit $1 boot_t:dir getattr;
')

########################################
## <summary>
##	Search the /boot directory.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_search_boot',`
	gen_require(`
		type boot_t;
		class dir search;
	')

	allow $1 boot_t:dir search;
')

########################################
## <summary>
##	Do not audit attempts to search the /boot directory.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_dontaudit_search_boot',`
	gen_require(`
		type boot_t;
		class dir search;
	')

	dontaudit $1 boot_t:dir search;
')

########################################
## <summary>
##	Read and write symbolic links
##	in the /boot directory.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_rw_boot_symlinks',`
	gen_require(`
		type boot_t;
		class dir r_dir_perms;
		class lnk_file rw_file_perms;
	')

	allow $1 boot_t:dir r_dir_perms;
	allow $1 boot_t:lnk_file rw_file_perms;
')

########################################
## <summary>
##	Install a kernel into the /boot directory.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_create_kernel',`
	gen_require(`
		type boot_t;
		class dir ra_dir_perms;
		class file { getattr read write create };
		class lnk_file { getattr read create unlink };
	')

	allow $1 boot_t:dir ra_dir_perms;
	allow $1 boot_t:file { getattr read write create };
	allow $1 boot_t:lnk_file { getattr read create unlink };
')

########################################
## <summary>
##	Install a system.map into the /boot directory.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_create_kernel_symbol_table',`
	gen_require(`
		type boot_t, system_map_t;
		class dir ra_dir_perms;
		class file { rw_file_perms create };
	')

	allow $1 boot_t:dir ra_dir_perms;
	allow $1 system_map_t:file { rw_file_perms create };
')

########################################
## <summary>
##	Read system.map in the /boot directory.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_read_kernel_symbol_table',`
	gen_require(`
		type boot_t, system_map_t;
		class dir r_dir_perms;
		class file r_file_perms;
	')

	allow $1 boot_t:dir r_dir_perms;
	allow $1 system_map_t:file r_file_perms;
')

########################################
## <summary>
##	Delete a kernel from /boot.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_delete_kernel',`
	gen_require(`
		type boot_t;
		class dir { r_dir_perms write remove_name };
		class file { getattr unlink };
	')

	allow $1 boot_t:dir { r_dir_perms write remove_name };
	allow $1 boot_t:file { getattr unlink };
')

########################################
## <summary>
##	Delete a system.map in the /boot directory.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_delete_kernel_symbol_table',`
	gen_require(`
		type boot_t, system_map_t;
		class dir { r_dir_perms write remove_name };
		class file { getattr unlink };
	')

	allow $1 boot_t:dir { r_dir_perms write remove_name };
	allow $1 system_map_t:file { getattr unlink };
')

########################################
## <summary>
##	Read the bootloader configuration file.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_read_config',`
	gen_require(`
		type bootloader_etc_t;
		class file r_file_perms;
	')

	allow $1 bootloader_etc_t:file r_file_perms;
')

########################################
## <summary>
##	Read and write the bootloader
##	configuration file.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_rw_config',`
	gen_require(`
		type bootloader_etc_t;
		class file rw_file_perms;
	')

	allow $1 bootloader_etc_t:file rw_file_perms;
')

########################################
## <summary>
##	Read and write the bootloader
##	temporary data in /tmp.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_rw_tmp_file',`
	gen_require(`
		type bootloader_tmp_t;
		class file rw_file_perms;
	')

	# FIXME: read tmp_t dir
	allow $1 bootloader_tmp_t:file rw_file_perms;
')

########################################
## <summary>
##	Read and write the bootloader
##	temporary data in /tmp.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_create_runtime_file',`
	gen_require(`
		type boot_t, boot_runtime_t;
		class dir rw_dir_perms;
		class file { rw_file_perms create unlink };
	')

	allow $1 boot_t:dir rw_dir_perms;
	allow $1 boot_runtime_t:file { rw_file_perms create unlink };
	type_transition $1 boot_t:file boot_runtime_t;
')

########################################
## <summary>
##	List the contents of the kernel module directories.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_list_kernel_modules',`
	gen_require(`
		type modules_object_t;
		class dir r_dir_perms;
	')

	allow $1 modules_object_t:dir r_dir_perms;
')

########################################
## <summary>
##	Get the attributes of kernel module files.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_getattr_kernel_modules',`
	gen_require(`
		type modules_object_t;
		class dir search;
		class file getattr;
	')

	allow $1 modules_object_t:dir search;
	allow $1 modules_object_t:dir getattr;
')

########################################
## <summary>
##	Read kernel module files.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_read_kernel_modules',`
	gen_require(`
		type modules_object_t;
		class dir r_dir_perms;
		class lnk_file r_file_perms;
		class file r_file_perms;
	')

	allow $1 modules_object_t:dir r_dir_perms;
	allow $1 modules_object_t:lnk_file r_file_perms;
	allow $1 modules_object_t:file r_file_perms;
')

########################################
## <summary>
##	Write kernel module files.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_write_kernel_modules',`
	gen_require(`
		attribute rw_kern_modules;
		type modules_object_t;
		class dir r_dir_perms;
		class file { write append };
	')

	allow $1 modules_object_t:dir r_dir_perms;
	allow $1 modules_object_t:file { write append };

	typeattribute $1 rw_kern_modules;
')

########################################
## <summary>
##	Create, read, write, and delete
##	kernel module files.
## </summary>
## <param name="domain">
##	The type of the process performing this action.
## </param>
#
interface(`bootloader_manage_kernel_modules',`
	gen_require(`
		attribute rw_kern_modules;
		type modules_object_t;
		class file { getattr create read write setattr unlink };
		class dir rw_dir_perms;
	')

	allow $1 modules_object_t:file { rw_file_perms create setattr unlink };
	allow $1 modules_object_t:dir rw_dir_perms;

	typeattribute $1 rw_kern_modules;
')

########################################
#
# bootloader_create_modules(domain,privatetype,[class(es)])
#
interface(`bootloader_create_modules',`
	gen_require(`
		type modules_object_t;
		class dir rw_dir_perms;
	')

	allow $1 modules_object_t:dir rw_dir_perms;

	# if a class is specified use it, else use file as default
	ifelse(`$3',`',`
		type_transition $1 modules_object_t:file $2;
	',`
		type_transition $1 modules_object_t:$3 $2;
	')
')
