
policy_module(corecommands,1.3.11)

########################################
#
# Declarations
#

#
# Types with the exec_type attribute are executable files.
#
attribute exec_type;

#
# bin_t is the type of files in the system bin directories.
#
type bin_t;
corecmd_executable_file(bin_t)

#
# sbin_t is the type of files in the system sbin directories.
#
type sbin_t;
corecmd_executable_file(sbin_t)

#
# ls_exec_t is the type of the ls program.
#
type ls_exec_t;
corecmd_executable_file(ls_exec_t)

#
# shell_exec_t is the type of user shells such as /bin/bash.
#
type shell_exec_t;
corecmd_executable_file(shell_exec_t)

type chroot_exec_t;
corecmd_executable_file(chroot_exec_t)
