policy_module(cloudinit)

########################################
#
# Declarations
#

type cloud_init_t;
type cloud_init_exec_t;
init_system_domain(cloud_init_t, cloud_init_exec_t)

type cloud_init_log_t;
logging_log_file(cloud_init_log_t)

type cloud_init_runtime_t;
files_runtime_file(cloud_init_runtime_t)
files_mountpoint(cloud_init_runtime_t)

type cloud_init_state_t;
files_type(cloud_init_state_t)

########################################
#
# Local policy
#

allow cloud_init_t self:capability { chown dac_override dac_read_search fowner fsetid setgid setuid };
dontaudit cloud_init_t self:capability { net_admin sys_tty_config };
allow cloud_init_t self:fifo_file rw_fifo_file_perms;
allow cloud_init_t self:unix_dgram_socket create_socket_perms;

allow cloud_init_t cloud_init_log_t:file { create_file_perms append_file_perms setattr };
logging_log_filetrans(cloud_init_t, cloud_init_log_t, file)

manage_files_pattern(cloud_init_t, cloud_init_runtime_t, cloud_init_runtime_t)
manage_lnk_files_pattern(cloud_init_t, cloud_init_runtime_t, cloud_init_runtime_t)
manage_dirs_pattern(cloud_init_t, cloud_init_runtime_t, cloud_init_runtime_t)
files_runtime_filetrans(cloud_init_t, cloud_init_runtime_t, { dir file lnk_file })

manage_files_pattern(cloud_init_t, cloud_init_state_t, cloud_init_state_t)
manage_lnk_files_pattern(cloud_init_t, cloud_init_state_t, cloud_init_state_t)
manage_dirs_pattern(cloud_init_t, cloud_init_state_t, cloud_init_state_t)
files_var_lib_filetrans(cloud_init_t, cloud_init_state_t, { dir file lnk_file })

auth_domtrans_chk_passwd(cloud_init_t)

corecmd_exec_bin(cloud_init_t)
corecmd_exec_shell(cloud_init_t)

corenet_dontaudit_tcp_bind_generic_node(cloud_init_t)

dbus_system_bus_client(cloud_init_t)

dev_getattr_all_blk_files(cloud_init_t)
# /sys/devices/pci0000:00/0000:00:03.0/net/eth0/address
dev_read_sysfs(cloud_init_t)

files_manage_config_dirs(cloud_init_t)
files_relabel_config_dirs(cloud_init_t)
files_manage_config_files(cloud_init_t)
files_relabel_config_files(cloud_init_t)

fs_getattr_all_fs(cloud_init_t)
fs_search_tmpfs(cloud_init_t)
fs_search_cgroup_dirs(cloud_init_t)
fs_read_iso9660_files(cloud_init_t)

fstools_domtrans(cloud_init_t)

hostname_domtrans(cloud_init_t)

init_get_system_status(cloud_init_t)
init_read_state(cloud_init_t)
init_stream_connect(cloud_init_t)

kernel_read_system_state(cloud_init_t)
kernel_read_kernel_sysctls(cloud_init_t)

libs_dontaudit_manage_lib_dirs(cloud_init_t)
libs_dontaudit_manage_lib_files(cloud_init_t)

logging_send_syslog_msg(cloud_init_t)

miscfiles_read_localization(cloud_init_t)

mount_domtrans(cloud_init_t)

seutil_read_default_contexts(cloud_init_t)

ssh_domtrans_keygen(cloud_init_t)
ssh_manage_home_files(cloud_init_t)
ssh_create_home_dirs(cloud_init_t)
ssh_setattr_home_dirs(cloud_init_t)
# Read public keys
ssh_read_server_keys(cloud_init_t)

sysnet_domtrans_ifconfig(cloud_init_t)

term_write_console(cloud_init_t)

usermanage_domtrans_useradd(cloud_init_t)
usermanage_domtrans_groupadd(cloud_init_t)
usermanage_domtrans_passwd(cloud_init_t)

optional_policy(`
	systemd_dbus_chat_hostnamed(cloud_init_t)
')
