policy_module(dracut)

type dracut_t;
type dracut_exec_t;
application_domain(dracut_t, dracut_exec_t)

type dracut_var_log_t;
logging_log_file(dracut_var_log_t)

type dracut_tmp_t;
files_tmp_file(dracut_tmp_t)

########################################
#
# Local policy
#

allow dracut_t self:process setfscreate;
allow dracut_t self:capability dac_override;
allow dracut_t self:fifo_file rw_fifo_file_perms;
allow dracut_t self:unix_stream_socket create_stream_socket_perms;

manage_files_pattern(dracut_t, dracut_tmp_t, dracut_tmp_t)
manage_dirs_pattern(dracut_t, dracut_tmp_t, dracut_tmp_t)
manage_lnk_files_pattern(dracut_t, dracut_tmp_t, dracut_tmp_t)
manage_chr_files_pattern(dracut_t, dracut_tmp_t, dracut_tmp_t)
files_tmp_filetrans(dracut_t, dracut_tmp_t, dir)

manage_files_pattern(dracut_t, dracut_var_log_t, dracut_var_log_t)
logging_log_filetrans(dracut_t, dracut_var_log_t, file)

corecmd_exec_bin(dracut_t)
corecmd_exec_shell(dracut_t)
corecmd_mmap_all_executables(dracut_t)

dev_read_kmsg(dracut_t)
dev_read_sysfs(dracut_t)

domain_use_interactive_fds(dracut_t)

files_create_kernel_img(dracut_t)
files_read_etc_files(dracut_t)
files_read_kernel_modules(dracut_t)
files_read_usr_files(dracut_t)
files_search_runtime(dracut_t)

libs_exec_ldconfig(dracut_t)
libs_exec_ld_so(dracut_t)
libs_exec_lib_files(dracut_t)

kernel_read_messages(dracut_t)
kernel_read_system_state(dracut_t)

miscfiles_read_localization(dracut_t)

modutils_read_module_config(dracut_t)
modutils_read_module_deps(dracut_t)

udev_read_rules_files(dracut_t)

userdom_search_user_home_dirs(dracut_t)
userdom_use_user_terminals(dracut_t)

optional_policy(`
	lvm_read_config(dracut_t)
')
