policy_module(firstboot, 1.15.0)

gen_require(`
	class passwd { passwd chfn chsh rootok };
')

########################################
#
# Declarations
#

attribute_role firstboot_roles;

type firstboot_t;
type firstboot_exec_t;
init_system_domain(firstboot_t, firstboot_exec_t)
domain_obj_id_change_exemption(firstboot_t)
domain_subj_id_change_exemption(firstboot_t)
role firstboot_roles types firstboot_t;

type firstboot_initrc_exec_t;
init_script_file(firstboot_initrc_exec_t)

type firstboot_etc_t;
files_config_file(firstboot_etc_t)

########################################
#
# Local policy
#

allow firstboot_t self:capability { dac_override setgid };
allow firstboot_t self:process setfscreate;
allow firstboot_t self:fifo_file rw_fifo_file_perms;
allow firstboot_t self:tcp_socket { accept listen };
allow firstboot_t self:passwd { rootok passwd chfn chsh };

allow firstboot_t firstboot_etc_t:file read_file_perms;

kernel_read_system_state(firstboot_t)
kernel_read_kernel_sysctls(firstboot_t)

corecmd_exec_all_executables(firstboot_t)

dev_read_urand(firstboot_t)

files_exec_etc_files(firstboot_t)
files_manage_etc_files(firstboot_t)
files_manage_etc_runtime_files(firstboot_t)
files_read_usr_files(firstboot_t)
files_manage_var_dirs(firstboot_t)
files_manage_var_files(firstboot_t)
files_manage_var_symlinks(firstboot_t)
files_create_boot_flag(firstboot_t)
files_delete_boot_flag(firstboot_t)

selinux_get_fs_mount(firstboot_t)
selinux_validate_context(firstboot_t)
selinux_compute_access_vector(firstboot_t)
selinux_compute_create_context(firstboot_t)
selinux_compute_relabel_context(firstboot_t)
selinux_compute_user_contexts(firstboot_t)

auth_dontaudit_getattr_shadow(firstboot_t)

init_domtrans_script(firstboot_t)
init_rw_utmp(firstboot_t)

libs_exec_ld_so(firstboot_t)
libs_exec_lib_files(firstboot_t)

locallogin_use_fds(firstboot_t)

logging_send_syslog_msg(firstboot_t)

miscfiles_read_localization(firstboot_t)

sysnet_dns_name_resolve(firstboot_t)

userdom_use_user_terminals(firstboot_t)
userdom_home_filetrans_user_home_dir(firstboot_t)

userdom_user_content_access_template(firstboot, firstboot_t)

tunable_policy(`firstboot_manage_generic_user_content',`
	userdom_manage_user_home_content_pipes(firstboot_t)
	userdom_manage_user_home_content_sockets(firstboot_t)
	userdom_user_home_dir_filetrans_user_home_content(firstboot_t, { dir file lnk_file fifo_file sock_file })
')

optional_policy(`
	dbus_system_bus_client(firstboot_t)

	optional_policy(`
		hal_dbus_chat(firstboot_t)
	')
')

optional_policy(`
	modutils_domtrans(firstboot_t)
	modutils_read_module_config(firstboot_t)
	modutils_read_module_deps(firstboot_t)
')

optional_policy(`
	nis_use_ypbind(firstboot_t)
')

optional_policy(`
	samba_rw_config(firstboot_t)
')

optional_policy(`
	unconfined_domtrans(firstboot_t)
	unconfined_domain(firstboot_t)
')

optional_policy(`
	gnome_manage_generic_home_content(firstboot_t)
')

optional_policy(`
	xserver_domtrans(firstboot_t)
	xserver_rw_shm(firstboot_t)
	xserver_unconfined(firstboot_t)
	xserver_stream_connect(firstboot_t)
')
