policy_module(kudzu, 1.13.0)

########################################
#
# Declarations
#

attribute_role kudzu_roles;

type kudzu_t;
type kudzu_exec_t;
init_system_domain(kudzu_t, kudzu_exec_t)
role kudzu_roles types kudzu_t;

type kudzu_initrc_exec_t;
init_script_file(kudzu_initrc_exec_t)

type kudzu_tmp_t;
files_tmp_file(kudzu_tmp_t)

type kudzu_var_run_t;
files_pid_file(kudzu_var_run_t)

########################################
#
# Local policy
#

allow kudzu_t self:capability { dac_override mknod net_admin sys_admin sys_rawio sys_tty_config };
dontaudit kudzu_t self:capability sys_tty_config;
allow kudzu_t self:process { signal_perms execmem };
allow kudzu_t self:fifo_file rw_fifo_file_perms;
allow kudzu_t self:unix_stream_socket { accept connectto listen };
allow kudzu_t self:udp_socket { create ioctl };

manage_dirs_pattern(kudzu_t, kudzu_tmp_t, kudzu_tmp_t)
manage_files_pattern(kudzu_t, kudzu_tmp_t, kudzu_tmp_t)
manage_chr_files_pattern(kudzu_t, kudzu_tmp_t, kudzu_tmp_t)
files_tmp_filetrans(kudzu_t, kudzu_tmp_t, { file dir chr_file })

manage_dirs_pattern(kudzu_t, kudzu_var_run_t, kudzu_var_run_t)
manage_files_pattern(kudzu_t, kudzu_var_run_t, kudzu_var_run_t)
files_pid_filetrans(kudzu_t, kudzu_var_run_t, file)

kernel_change_ring_buffer_level(kudzu_t)
kernel_read_device_sysctls(kudzu_t)
kernel_read_kernel_sysctls(kudzu_t)
kernel_read_network_state(kudzu_t)
kernel_read_system_state(kudzu_t)
kernel_rw_hotplug_sysctls(kudzu_t)
kernel_rw_kernel_sysctl(kudzu_t)
kernel_dontaudit_search_unlabeled(kudzu_t)

corecmd_exec_all_executables(kudzu_t)

dev_list_sysfs(kudzu_t)
dev_read_usbfs(kudzu_t)
dev_read_sysfs(kudzu_t)
dev_rx_raw_memory(kudzu_t)
dev_wx_raw_memory(kudzu_t)
dev_rw_mouse(kudzu_t)
dev_rwx_zero(kudzu_t)

domain_use_interactive_fds(kudzu_t)

files_read_kernel_modules(kudzu_t)
files_read_usr_files(kudzu_t)
files_search_locks(kudzu_t)
files_manage_etc_files(kudzu_t)
files_manage_etc_runtime_files(kudzu_t)
files_etc_filetrans_etc_runtime(kudzu_t, file)
files_manage_mnt_files(kudzu_t)
files_manage_mnt_symlinks(kudzu_t)
files_dontaudit_search_src(kudzu_t)

fs_search_auto_mountpoints(kudzu_t)
fs_write_ramfs_sockets(kudzu_t)

mls_file_read_all_levels(kudzu_t)
mls_file_write_all_levels(kudzu_t)

storage_read_scsi_generic(kudzu_t)
storage_read_tape(kudzu_t)
storage_raw_write_fixed_disk(kudzu_t)
storage_raw_write_removable_device(kudzu_t)
storage_raw_read_fixed_disk(kudzu_t)
storage_raw_read_removable_device(kudzu_t)

term_dontaudit_use_console(kudzu_t)
term_use_unallocated_ttys(kudzu_t)

init_use_fds(kudzu_t)
init_use_script_ptys(kudzu_t)
init_stream_connect_script(kudzu_t)
init_read_state(kudzu_t)
init_ptrace(kudzu_t)
init_telinit(kudzu_t)

libs_read_lib_files(kudzu_t)

logging_send_syslog_msg(kudzu_t)

miscfiles_read_hwdata(kudzu_t)
miscfiles_read_localization(kudzu_t)

sysnet_read_config(kudzu_t)

userdom_use_user_terminals(kudzu_t)
userdom_dontaudit_use_unpriv_user_fds(kudzu_t)
userdom_search_user_home_dirs(kudzu_t)

optional_policy(`
	gpm_getattr_gpmctl(kudzu_t)
')

optional_policy(`
	modutils_read_module_config(kudzu_t)
	modutils_read_module_deps(kudzu_t)
	modutils_rename_module_config(kudzu_t)
	modutils_delete_module_config(kudzu_t)
	modutils_domtrans(kudzu_t)
')

optional_policy(`
	nscd_use(kudzu_t)
')

optional_policy(`
	seutil_sigchld_newrole(kudzu_t)
')

optional_policy(`
	udev_read_db(kudzu_t)
')

optional_policy(`
	unconfined_domtrans(kudzu_t)
')
