policy_module(rpm)

########################################
#
# Declarations
#

attribute_role rpm_roles;

type debuginfo_exec_t;
domain_entry_file(rpm_t, debuginfo_exec_t)

type rpm_t;
type rpm_exec_t;
init_system_domain(rpm_t, rpm_exec_t)
domain_obj_id_change_exemption(rpm_t)
domain_role_change_exemption(rpm_t)
domain_system_change_exemption(rpm_t)
domain_interactive_fd(rpm_t)
role rpm_roles types rpm_t;

type rpm_initrc_exec_t;
init_script_file(rpm_initrc_exec_t)

type rpm_file_t;
files_type(rpm_file_t)

type rpm_tmp_t;
files_tmp_file(rpm_tmp_t)

type rpm_tmpfs_t;
files_tmpfs_file(rpm_tmpfs_t)

type rpm_lock_t;
files_lock_file(rpm_lock_t)

type rpm_log_t;
logging_log_file(rpm_log_t)

type rpm_runtime_t alias rpm_var_run_t;
files_runtime_file(rpm_runtime_t)

type rpm_unit_t;
init_unit_file(rpm_unit_t)

type rpm_var_lib_t;
files_type(rpm_var_lib_t)

type rpm_var_cache_t;
files_type(rpm_var_cache_t)

type rpm_script_t;
type rpm_script_exec_t;
domain_obj_id_change_exemption(rpm_script_t)
domain_system_change_exemption(rpm_script_t)
corecmd_shell_entry_type(rpm_script_t)
corecmd_bin_entry_type(rpm_script_t)
domain_type(rpm_script_t)
domain_entry_file(rpm_t, rpm_script_exec_t)
domain_interactive_fd(rpm_script_t)
role rpm_roles types rpm_script_t;
role system_r types rpm_script_t;

type rpm_script_tmp_t;
files_tmp_file(rpm_script_tmp_t)

type rpm_script_tmpfs_t;
files_tmpfs_file(rpm_script_tmpfs_t)

########################################
#
# rpm Local policy
#

allow rpm_t self:capability { chown dac_override fowner fsetid ipc_lock mknod setfcap setgid setuid sys_chroot sys_nice sys_tty_config };
allow rpm_t self:process { transition signal_perms getsched setsched getsession getpgid setpgid getcap setcap share getattr setexec setfscreate noatsecure siginh setrlimit rlimitinh dyntransition execmem setkeycreate setsockcreate getrlimit };
allow rpm_t self:fd use;
allow rpm_t self:fifo_file rw_fifo_file_perms;
allow rpm_t self:unix_dgram_socket sendto;
allow rpm_t self:unix_stream_socket { accept connectto listen };
allow rpm_t self:udp_socket connect;
allow rpm_t self:tcp_socket { accept listen };
allow rpm_t self:shm create_shm_perms;
allow rpm_t self:sem create_sem_perms;
allow rpm_t self:msgq create_msgq_perms;
allow rpm_t self:msg { send receive };
allow rpm_t self:file rw_file_perms;
allow rpm_t self:netlink_kobject_uevent_socket create_socket_perms;

allow rpm_t rpm_log_t:file { append_file_perms create_file_perms setattr_file_perms };
logging_log_filetrans(rpm_t, rpm_log_t, file)

manage_dirs_pattern(rpm_t, rpm_tmp_t, rpm_tmp_t)
manage_files_pattern(rpm_t, rpm_tmp_t, rpm_tmp_t)
files_tmp_filetrans(rpm_t, rpm_tmp_t, { file dir })

manage_dirs_pattern(rpm_t, rpm_tmpfs_t, rpm_tmpfs_t)
manage_files_pattern(rpm_t, rpm_tmpfs_t, rpm_tmpfs_t)
manage_lnk_files_pattern(rpm_t, rpm_tmpfs_t, rpm_tmpfs_t)
manage_fifo_files_pattern(rpm_t, rpm_tmpfs_t, rpm_tmpfs_t)
manage_sock_files_pattern(rpm_t, rpm_tmpfs_t, rpm_tmpfs_t)
fs_tmpfs_filetrans(rpm_t, rpm_tmpfs_t, { dir file lnk_file sock_file fifo_file })

manage_dirs_pattern(rpm_t, rpm_var_cache_t, rpm_var_cache_t)
manage_files_pattern(rpm_t, rpm_var_cache_t, rpm_var_cache_t)
files_var_filetrans(rpm_t, rpm_var_cache_t, dir)

manage_files_pattern(rpm_t, rpm_lock_t, rpm_lock_t)
files_lock_filetrans(rpm_t, rpm_lock_t, file)

manage_dirs_pattern(rpm_t, rpm_var_lib_t, rpm_var_lib_t)
manage_files_pattern(rpm_t, rpm_var_lib_t, rpm_var_lib_t)
mmap_read_files_pattern(rpm_t, rpm_var_lib_t, rpm_var_lib_t)
files_var_lib_filetrans(rpm_t, rpm_var_lib_t, { dir file })

manage_dirs_pattern(rpm_t, rpm_runtime_t, rpm_runtime_t)
manage_files_pattern(rpm_t, rpm_runtime_t, rpm_runtime_t)
files_runtime_filetrans(rpm_t, rpm_runtime_t, { dir file })

can_exec(rpm_t, { rpm_tmp_t rpm_tmpfs_t })

kernel_read_crypto_sysctls(rpm_t)
kernel_read_network_state(rpm_t)
kernel_read_system_state(rpm_t)
kernel_read_kernel_sysctls(rpm_t)
kernel_read_network_state_symlinks(rpm_t)
kernel_rw_irq_sysctls(rpm_t)

corecmd_exec_all_executables(rpm_t)

corenet_all_recvfrom_netlabel(rpm_t)
corenet_tcp_sendrecv_generic_if(rpm_t)
corenet_tcp_sendrecv_generic_node(rpm_t)

corenet_sendrecv_all_client_packets(rpm_t)
corenet_tcp_connect_all_ports(rpm_t)

dev_list_sysfs(rpm_t)
dev_list_usbfs(rpm_t)
dev_read_urand(rpm_t)

dev_manage_all_dev_nodes(rpm_t)
dev_relabel_all_dev_nodes(rpm_t)

dev_create_generic_blk_files(rpm_t)
dev_create_generic_chr_files(rpm_t)

domain_read_all_domains_state(rpm_t)
domain_getattr_all_domains(rpm_t)
domain_use_interactive_fds(rpm_t)
domain_dontaudit_getattr_all_pipes(rpm_t)
domain_dontaudit_getattr_all_tcp_sockets(rpm_t)
domain_dontaudit_getattr_all_udp_sockets(rpm_t)
domain_dontaudit_getattr_all_packet_sockets(rpm_t)
domain_dontaudit_getattr_all_raw_sockets(rpm_t)
domain_dontaudit_getattr_all_stream_sockets(rpm_t)
domain_dontaudit_getattr_all_dgram_sockets(rpm_t)
domain_signull_all_domains(rpm_t)

files_exec_etc_files(rpm_t)
files_relabel_non_auth_files(rpm_t)
files_manage_non_auth_files(rpm_t)

fs_getattr_all_dirs(rpm_t)
fs_list_inotifyfs(rpm_t)
fs_manage_nfs_dirs(rpm_t)
fs_manage_nfs_files(rpm_t)
fs_manage_nfs_symlinks(rpm_t)
fs_getattr_all_fs(rpm_t)
fs_search_auto_mountpoints(rpm_t)

mls_file_read_all_levels(rpm_t)
mls_file_write_all_levels(rpm_t)
mls_file_relabel(rpm_t)
mls_file_upgrade(rpm_t)
mls_file_downgrade(rpm_t)

selinux_get_fs_mount(rpm_t)
selinux_validate_context(rpm_t)
selinux_compute_access_vector(rpm_t)
selinux_compute_create_context(rpm_t)
selinux_compute_relabel_context(rpm_t)
selinux_compute_user_contexts(rpm_t)
selinux_use_status_page(rpm_t)

storage_raw_write_fixed_disk(rpm_t)
storage_raw_read_fixed_disk(rpm_t)

term_list_ptys(rpm_t)

auth_dontaudit_read_shadow(rpm_t)
auth_use_nsswitch(rpm_t)

rpm_domtrans_script(rpm_t)

init_domtrans_script(rpm_t)
init_use_script_ptys(rpm_t)
init_signull_script(rpm_t)

libs_exec_ld_so(rpm_t)
libs_exec_lib_files(rpm_t)
libs_run_ldconfig(rpm_t, rpm_roles)

logging_send_audit_msgs(rpm_t)
logging_send_syslog_msg(rpm_t)

miscfiles_read_localization(rpm_t)

seutil_manage_src_policy(rpm_t)
seutil_manage_bin_policy(rpm_t)
seutil_read_file_contexts(rpm_t)

userdom_use_user_terminals(rpm_t)
userdom_use_unpriv_users_fds(rpm_t)

optional_policy(`
	cron_system_entry(rpm_t, rpm_exec_t)
')

optional_policy(`
	dbus_system_domain(rpm_t, rpm_exec_t)
	dbus_system_domain(rpm_t, debuginfo_exec_t)

	optional_policy(`
		networkmanager_dbus_chat(rpm_t)
	')

	optional_policy(`
		unconfined_dbus_chat(rpm_t)
	')
')

optional_policy(`
	prelink_run(rpm_t, rpm_roles)
')

########################################
#
# rpm-script Local policy
#

allow rpm_script_t self:capability { chown dac_override dac_read_search fowner fsetid ipc_lock kill mknod net_admin setgid setuid sys_admin sys_chroot sys_nice sys_rawio };
allow rpm_script_t self:process { transition signal_perms getsched setsched getsession getpgid setpgid getcap setcap share getattr noatsecure siginh rlimitinh dyntransition execmem execstack setkeycreate setsockcreate getrlimit };
allow rpm_script_t self:fd use;
allow rpm_script_t self:fifo_file rw_fifo_file_perms;
allow rpm_script_t self:unix_dgram_socket sendto;
allow rpm_script_t self:unix_stream_socket { accept connectto listen };
allow rpm_script_t self:shm create_shm_perms;
allow rpm_script_t self:sem create_sem_perms;
allow rpm_script_t self:msgq create_msgq_perms;
allow rpm_script_t self:msg { send receive };
allow rpm_script_t self:netlink_kobject_uevent_socket create_socket_perms;

allow rpm_script_t rpm_t:netlink_route_socket { read write };

allow rpm_script_t rpm_tmp_t:file read_file_perms;

allow rpm_script_t rpm_script_tmp_t:dir mounton;
manage_dirs_pattern(rpm_script_t, rpm_script_tmp_t, rpm_script_tmp_t)
manage_files_pattern(rpm_script_t, rpm_script_tmp_t, rpm_script_tmp_t)
manage_blk_files_pattern(rpm_script_t, rpm_script_tmp_t, rpm_script_tmp_t)
manage_chr_files_pattern(rpm_script_t, rpm_script_tmp_t, rpm_script_tmp_t)
files_tmp_filetrans(rpm_script_t, rpm_script_tmp_t, { file dir })

manage_dirs_pattern(rpm_script_t, rpm_script_tmpfs_t, rpm_script_tmpfs_t)
manage_files_pattern(rpm_script_t, rpm_script_tmpfs_t, rpm_script_tmpfs_t)
manage_lnk_files_pattern(rpm_script_t, rpm_script_tmpfs_t, rpm_script_tmpfs_t)
manage_fifo_files_pattern(rpm_script_t, rpm_script_tmpfs_t, rpm_script_tmpfs_t)
manage_sock_files_pattern(rpm_script_t, rpm_script_tmpfs_t, rpm_script_tmpfs_t)
fs_tmpfs_filetrans(rpm_script_t, rpm_script_tmpfs_t, { dir file lnk_file sock_file fifo_file })

can_exec(rpm_script_t, { rpm_script_tmp_t rpm_script_tmpfs_t })

kernel_read_crypto_sysctls(rpm_script_t)
kernel_read_kernel_sysctls(rpm_script_t)
kernel_read_system_state(rpm_script_t)
kernel_read_network_state(rpm_script_t)
kernel_list_all_proc(rpm_script_t)
kernel_read_software_raid_state(rpm_script_t)

corenet_all_recvfrom_netlabel(rpm_script_t)
corenet_tcp_sendrecv_generic_if(rpm_script_t)
corenet_tcp_sendrecv_generic_node(rpm_script_t)

corenet_sendrecv_http_client_packets(rpm_script_t)
corenet_tcp_connect_http_port(rpm_script_t)

corecmd_exec_all_executables(rpm_script_t)

dev_list_sysfs(rpm_script_t)
dev_manage_generic_blk_files(rpm_script_t)
dev_manage_generic_chr_files(rpm_script_t)
dev_manage_all_blk_files(rpm_script_t)
dev_manage_all_chr_files(rpm_script_t)

domain_read_all_domains_state(rpm_script_t)
domain_getattr_all_domains(rpm_script_t)
domain_use_interactive_fds(rpm_script_t)
domain_signal_all_domains(rpm_script_t)
domain_signull_all_domains(rpm_script_t)

files_exec_etc_files(rpm_script_t)
files_exec_usr_files(rpm_script_t)
files_manage_non_auth_files(rpm_script_t)
files_relabel_non_auth_files(rpm_script_t)

fs_manage_nfs_files(rpm_script_t)
fs_getattr_nfs(rpm_script_t)
fs_search_all(rpm_script_t)
fs_getattr_all_fs(rpm_script_t)
fs_getattr_xattr_fs(rpm_script_t)
fs_mount_xattr_fs(rpm_script_t)
fs_unmount_xattr_fs(rpm_script_t)
fs_search_auto_mountpoints(rpm_script_t)

mls_file_read_all_levels(rpm_script_t)
mls_file_write_all_levels(rpm_script_t)

selinux_get_fs_mount(rpm_script_t)
selinux_validate_context(rpm_script_t)
selinux_compute_access_vector(rpm_script_t)
selinux_compute_create_context(rpm_script_t)
selinux_compute_relabel_context(rpm_script_t)
selinux_compute_user_contexts(rpm_script_t)

storage_raw_read_fixed_disk(rpm_script_t)
storage_raw_write_fixed_disk(rpm_script_t)

term_getattr_unallocated_ttys(rpm_script_t)
term_list_ptys(rpm_script_t)
term_use_all_terms(rpm_script_t)

auth_dontaudit_getattr_shadow(rpm_script_t)
auth_use_nsswitch(rpm_script_t)

init_domtrans_script(rpm_script_t)
init_manage_all_units(rpm_script_t)
init_reload(rpm_script_t)
init_telinit(rpm_script_t)

libs_exec_ld_so(rpm_script_t)
libs_exec_lib_files(rpm_script_t)
libs_run_ldconfig(rpm_script_t, rpm_roles)

logging_send_syslog_msg(rpm_script_t)

miscfiles_read_localization(rpm_script_t)

modutils_run(rpm_script_t, rpm_roles)

seutil_run_loadpolicy(rpm_script_t, rpm_roles)
seutil_run_setfiles(rpm_script_t, rpm_roles)
seutil_run_semanage(rpm_script_t, rpm_roles)

userdom_use_all_users_fds(rpm_script_t)

ifdef(`distro_redhat',`
	optional_policy(`
		mta_send_mail(rpm_script_t)
		mta_system_content(rpm_runtime_t)
	')
')

tunable_policy(`allow_execmem',`
	allow rpm_script_t self:process execmem;
')

optional_policy(`
	bootloader_run(rpm_script_t, rpm_roles)
')

optional_policy(`
	dbus_system_bus_client(rpm_script_t)

	optional_policy(`
		unconfined_dbus_chat(rpm_script_t)
	')
')

optional_policy(`
	lvm_run(rpm_script_t, rpm_roles)
')

optional_policy(`
	ntp_domtrans(rpm_script_t)
')

optional_policy(`
	tzdata_run(rpm_t, rpm_roles)
	tzdata_run(rpm_script_t, rpm_roles)
')

optional_policy(`
	udev_domtrans(rpm_script_t)
')

optional_policy(`
	unconfined_domtrans(rpm_script_t)

	optional_policy(`
		java_domtrans_unconfined(rpm_script_t)
	')

	optional_policy(`
		mono_domtrans(rpm_script_t)
	')
')

optional_policy(`
	usermanage_run_groupadd(rpm_script_t, rpm_roles)
	usermanage_run_useradd(rpm_script_t, rpm_roles)
')
