policy_module(su, 1.13.0)

########################################
#
# Declarations
#

attribute su_domain_type;

type su_exec_t;
corecmd_executable_file(su_exec_t)
