
policy_module(tmpreaper, 1.4.0)

########################################
#
# Declarations
#

type tmpreaper_t;
type tmpreaper_exec_t;
application_domain(tmpreaper_t, tmpreaper_exec_t)
role system_r types tmpreaper_t;

########################################
#
# Local Policy
#

allow tmpreaper_t self:process { fork sigchld };
allow tmpreaper_t self:capability { dac_override dac_read_search fowner };

dev_read_urand(tmpreaper_t)

fs_getattr_xattr_fs(tmpreaper_t)

files_read_etc_files(tmpreaper_t)
files_read_var_lib_files(tmpreaper_t)
files_purge_tmp(tmpreaper_t)
# why does it need setattr?
files_setattr_all_tmp_dirs(tmpreaper_t)
files_getattr_all_dirs(tmpreaper_t)
files_getattr_all_files(tmpreaper_t)

mls_file_read_all_levels(tmpreaper_t)
mls_file_write_all_levels(tmpreaper_t)

logging_send_syslog_msg(tmpreaper_t)

miscfiles_read_localization(tmpreaper_t)
miscfiles_delete_man_pages(tmpreaper_t)

cron_system_entry(tmpreaper_t, tmpreaper_exec_t)

ifdef(`distro_redhat',`
	userdom_delete_user_home_content_dirs(tmpreaper_t)
	userdom_delete_user_home_content_files(tmpreaper_t)
	userdom_delete_user_home_content_symlinks(tmpreaper_t)
')

optional_policy(`
	amavis_manage_spool_files(tmpreaper_t)
')

optional_policy(`
	kismet_manage_log(tmpreaper_t)
')

optional_policy(`
	lpd_manage_spool(tmpreaper_t)
')

optional_policy(`
	unconfined_domain(tmpreaper_t)
')
