
policy_module(tzdata, 1.3.0)

########################################
#
# Declarations
#

type tzdata_t;
type tzdata_exec_t;
init_daemon_domain(tzdata_t, tzdata_exec_t)
application_domain(tzdata_t, tzdata_exec_t)

########################################
#
# tzdata local policy
#

files_read_etc_files(tzdata_t)
files_search_spool(tzdata_t)

term_dontaudit_list_ptys(tzdata_t)

locallogin_dontaudit_use_fds(tzdata_t)

miscfiles_read_localization(tzdata_t)
miscfiles_manage_localization(tzdata_t)
miscfiles_etc_filetrans_localization(tzdata_t)

userdom_use_user_terminals(tzdata_t)

# tzdata looks for /var/spool/postfix/etc/localtime.
optional_policy(`
	postfix_search_spool(tzdata_t)
')
