## <summary>Time zone updater</summary>

########################################
## <summary>
##	Execute a domain transition to run tzdata.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`tzdata_domtrans',`
	gen_require(`
		type tzdata_t, tzdata_exec_t;
	')

	domtrans_pattern($1,tzdata_exec_t,tzdata_t)
')
