## <summary>run real-mode video BIOS code to alter hardware state</summary>

########################################
## <summary>
##	Execute vbetool application in the vbetool domain.
## </summary>
## <param name="domain" optional="true">
##	<summary>
##	N/A
##	</summary>
## </param>
#
interface(`vbetool_domtrans',`
	gen_require(`
		type vbetool_t, vbetool_exec_t;
	')

	corecmd_search_sbin($1)
	domain_auto_trans($1,vbetool_exec_t,vbetool_t)

	allow $1 vbetool_t:fd use;
	allow vbetool_t $1:fd use;
	allow vbetool_t $1:fifo_file rw_file_perms;
	allow vbetool_t $1:process sigchld;

')
