## <summary>run real-mode video BIOS code to alter hardware state</summary>

########################################
## <summary>
##	Execute vbetool application in the vbetool domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`vbetool_domtrans',`
	gen_require(`
		type vbetool_t, vbetool_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1,vbetool_exec_t,vbetool_t)
')
