## <summary>Policy for iptables.</summary>

########################################
## <summary>
##	Execute iptables in the iptables domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iptables_domtrans',`
	gen_require(`
		type iptables_t, iptables_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, iptables_exec_t, iptables_t)
')

########################################
## <summary>
##	Execute iptables in the iptables domain, and
##	allow the specified role the iptables domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the iptables domain.
##	</summary>
## </param>
## <rolecap/>
#
interface(`iptables_run',`
	gen_require(`
		type iptables_t;
	')

	iptables_domtrans($1)
	role $2 types iptables_t;

	sysnet_run_ifconfig(iptables_t, $2)

	optional_policy(`
		modutils_run_insmod(iptables_t, $2)
	')
')

########################################
## <summary>
##	Execute iptables in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`iptables_exec',`
	gen_require(`
		type iptables_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, iptables_exec_t)
')
