policy_module(pcmcia, 1.9.1)

########################################
#
# Declarations
#

attribute_role cardmgr_roles;

type cardmgr_t;
type cardmgr_exec_t;
init_daemon_domain(cardmgr_t, cardmgr_exec_t)

type cardmgr_lnk_t;
files_type(cardmgr_lnk_t)

type cardmgr_runtime_t alias cardmgr_var_run_t;
files_pid_file(cardmgr_runtime_t)

type cardmgr_var_lib_t;
files_type(cardmgr_var_lib_t)

type cardctl_exec_t;
application_domain(cardmgr_t, cardctl_exec_t)
role cardmgr_roles types cardmgr_t;

########################################
#
# Local policy
#

allow cardmgr_t self:capability { dac_override dac_read_search mknod net_admin setuid sys_admin sys_nice sys_tty_config };
dontaudit cardmgr_t self:capability sys_tty_config;
allow cardmgr_t self:process signal_perms;
allow cardmgr_t self:fifo_file rw_fifo_file_perms;
allow cardmgr_t self:unix_stream_socket { accept listen };

allow cardmgr_t cardmgr_lnk_t:lnk_file manage_lnk_file_perms;
dev_filetrans(cardmgr_t, cardmgr_lnk_t, lnk_file)

manage_files_pattern(cardmgr_t, cardmgr_var_lib_t, cardmgr_var_lib_t)
files_var_lib_filetrans(cardmgr_t, cardmgr_var_lib_t, file)

allow cardmgr_t cardmgr_runtime_t:file manage_file_perms;
files_pid_filetrans(cardmgr_t, cardmgr_runtime_t, file)

kernel_read_kernel_sysctls(cardmgr_t)
kernel_read_system_state(cardmgr_t)
kernel_dontaudit_getattr_message_if(cardmgr_t)

corecmd_exec_all_executables(cardmgr_t)

dev_getattr_all_chr_files(cardmgr_t)
dev_getattr_all_blk_files(cardmgr_t)
dev_filetrans_cardmgr(cardmgr_t)
dev_manage_cardmgr_dev(cardmgr_t)
dev_read_sysfs(cardmgr_t)
dev_read_urand(cardmgr_t)

domain_getattr_confined_domains(cardmgr_t)
domain_read_confined_domains_state(cardmgr_t)
domain_use_interactive_fds(cardmgr_t)
domain_dontaudit_ptrace_confined_domains(cardmgr_t)
domain_dontaudit_getattr_all_pipes(cardmgr_t)
domain_dontaudit_getattr_all_sockets(cardmgr_t)

files_exec_etc_files(cardmgr_t)
files_list_usr(cardmgr_t)
files_read_etc_runtime_files(cardmgr_t)
files_read_var_lib_files(cardmgr_t)
files_search_kernel_modules(cardmgr_t)
files_search_home(cardmgr_t)
files_dontaudit_getattr_all_dirs(cardmgr_t)
files_dontaudit_getattr_all_files(cardmgr_t)
files_dontaudit_getattr_all_symlinks(cardmgr_t)
files_dontaudit_getattr_all_pipes(cardmgr_t)
files_dontaudit_getattr_all_sockets(cardmgr_t)

fs_getattr_all_fs(cardmgr_t)
fs_search_auto_mountpoints(cardmgr_t)

term_use_unallocated_ttys(cardmgr_t)
term_getattr_all_ttys(cardmgr_t)
term_dontaudit_getattr_all_ptys(cardmgr_t)

libs_exec_ld_so(cardmgr_t)
libs_exec_lib_files(cardmgr_t)

logging_send_syslog_msg(cardmgr_t)

miscfiles_read_localization(cardmgr_t)

modutils_domtrans(cardmgr_t)

sysnet_domtrans_ifconfig(cardmgr_t)
sysnet_etc_filetrans_config(cardmgr_t)
sysnet_manage_config(cardmgr_t)

userdom_use_user_terminals(cardmgr_t)
userdom_dontaudit_use_unpriv_user_fds(cardmgr_t)
userdom_dontaudit_search_user_home_dirs(cardmgr_t)

optional_policy(`
	seutil_dontaudit_read_config(cardmgr_t)
	seutil_sigchld_newrole(cardmgr_t)
')

optional_policy(`
	sysnet_domtrans_dhcpc(cardmgr_t)
	sysnet_read_dhcpc_pid(cardmgr_t)
	sysnet_delete_dhcpc_pid(cardmgr_t)
	sysnet_kill_dhcpc(cardmgr_t)
	sysnet_sigchld_dhcpc(cardmgr_t)
	sysnet_signal_dhcpc(cardmgr_t)
	sysnet_signull_dhcpc(cardmgr_t)
	sysnet_sigstop_dhcpc(cardmgr_t)
')

optional_policy(`
	udev_read_db(cardmgr_t)
')
