policy_module(xdg)

########################################
#
# Declarations
#

attribute xdg_cache_type;

attribute xdg_config_type;

attribute xdg_data_type;


type xdg_cache_t;
xdg_cache_content(xdg_cache_t)

type xdg_config_t;
xdg_config_content(xdg_config_t)

type xdg_data_t;
xdg_data_content(xdg_data_t)

# Various user location types (see ~/.config/user-dirs.dirs)
type xdg_documents_t; # customizable
userdom_user_home_content(xdg_documents_t)

type xdg_downloads_t; # customizable
userdom_user_home_content(xdg_downloads_t)

type xdg_music_t; # customizable
userdom_user_home_content(xdg_music_t)

type xdg_pictures_t; # customizable
userdom_user_home_content(xdg_pictures_t)

type xdg_videos_t; # customizable
userdom_user_home_content(xdg_videos_t)
