
policy_module(cdrecord,1.0.0)

########################################
#
# Declarations
#

type cdrecord_t;
type cdrecord_exec_t;
domain_entry_file(cdrecord_t, cdrecord_exec_t)

