
policy_module(thunderbird,1.0.0)

########################################
#
# Declarations
#

type thunderbird_exec_t;
files_type(thunderbird_exec_t)
