## <summary>Concurrent versions system</summary>

########################################
## <summary>
##	Read the CVS data and metadata.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cvs_read_data',`
	gen_require(`
		type cvs_data_t;
	')

	allow $1 cvs_data_t:file { getattr read };
')
