## <summary>Filter used for removing unsolicited email.</summary>

# cjp: TODO: integrate old spamassassin_macros.te

########################################
## <summary>
##	Execute the standalone spamassassin
##	program in the caller directory.
## </summary>
## <param name="domain">
##	Domain allowed access.
## </param>
#
interface(`spamassassin_exec',`
	gen_require(`
		type spamassassin_exec_t;
	')

	can_exec($1,spamassassin_exec_t)

')

########################################
## <summary>
##	Execute the spamassassin client
##	program in the caller directory.
## </summary>
## <param name="domain">
##	Domain allowed access.
## </param>
#
interface(`spamassassin_exec_client',`
	gen_require(`
		type spamc_exec_t;
	')

	can_exec($1,spamc_exec_t)
')
