#
# Macro for fingerd
#
# Author:  Russell Coker <russell@coker.com.au>
#

#
# fingerd_macro(domain_prefix)
#
# allow fingerd to create a fingerlog file in the user home dir
#
define(`fingerd_macro', `
type $1_home_fingerlog_t, file_type, sysadmfile, $1_file_type;
file_type_auto_trans(fingerd_t, $1_home_dir_t, $1_home_fingerlog_t)
')
