
policy_module(backup,1.0.0)

########################################
#
# Declarations
#

type backup_t;
type backup_exec_t;
domain_type(backup_t)
domain_entry_file(backup_t,backup_exec_t)
role system_r types backup_t;

type backup_store_t;
files_type(backup_store_t)

########################################
#
# Local policy
#

allow backup_t self:capability dac_override;
allow backup_t self:process signal;
allow backup_t self:fifo_file rw_file_perms;
allow backup_t self:tcp_socket create_socket_perms;
allow backup_t self:udp_socket create_socket_perms;

allow backup_t backup_store_t:dir ra_dir_perms;
allow backup_t backup_store_t:file { create rw_file_perms setattr };
allow backup_t backup_store_t:lnk_file { getattr read };

kernel_read_system_state(backup_t)
kernel_read_kernel_sysctls(backup_t)

corecmd_exec_bin(backup_t)

corenet_non_ipsec_sendrecv(backup_t)
corenet_tcp_sendrecv_generic_if(backup_t)
corenet_udp_sendrecv_generic_if(backup_t)
corenet_raw_sendrecv_generic_if(backup_t)
corenet_tcp_sendrecv_all_nodes(backup_t)
corenet_udp_sendrecv_all_nodes(backup_t)
corenet_raw_sendrecv_all_nodes(backup_t)
corenet_tcp_sendrecv_all_ports(backup_t)
corenet_udp_sendrecv_all_ports(backup_t)
corenet_tcp_bind_all_nodes(backup_t)
corenet_udp_bind_all_nodes(backup_t)
corenet_tcp_connect_all_ports(backup_t)

dev_getattr_all_blk_files(backup_t)
dev_getattr_all_chr_files(backup_t)
# for SSP
dev_read_urand(backup_t)

domain_use_interactive_fds(backup_t)

files_read_all_files(backup_t)
files_read_all_symlinks(backup_t)
files_getattr_all_pipes(backup_t)
files_getattr_all_sockets(backup_t)

fs_getattr_xattr_fs(backup_t)
fs_list_all(backup_t)

auth_read_shadow(backup_t)

libs_use_ld_so(backup_t)
libs_use_shared_libs(backup_t)

logging_send_syslog_msg(backup_t)

sysnet_read_config(backup_t)

optional_policy(`
	cron_system_entry(backup_t,backup_exec_t)
')

optional_policy(`
	hostname_exec(backup_t)
')

optional_policy(`
	nis_use_ypbind(backup_t)
')
