
#######################################
#
# consoletype_domtrans(domain)
#
define(`consoletype_domtrans',`
	gen_require(`$0'_depend)

	domain_auto_trans($1,consoletype_exec_t,consoletype_t)

	allow $1 consoletype_t:fd use;
	allow consoletype_t $1:fd use;
	allow consoletype_t $1:fifo_file rw_file_perms;
	allow consoletype_t $1:process sigchld;
')

define(`consoletype_domtrans_depend',`
	type consoletype_t, consoletype_exec_t;

	class file rx_file_perms;
	class process { transition noatsecure siginh rlimitinh sigchld };
	class fd use;
	class fifo_file rw_file_perms;
')

#######################################
#
# consoletype_exec(domain)
#
define(`consoletype_exec',`
	gen_require(`$0'_depend)

	can_exec($1,consoletype_exec_t)

')

define(`consoletype_exec_depend',`
	type consoletype_exec_t;

	class file { getattr read execute execute_no_trans };
')
