
policy_module(readahead,1.0.1)

########################################
#
# Declarations
#

type readahead_t;
type readahead_exec_t;
init_daemon_domain(readahead_t,readahead_exec_t)

type readahead_var_run_t;
files_pid_file(readahead_var_run_t)

########################################
#
# Local policy
#

dontaudit readahead_t self:capability sys_tty_config;
allow readahead_t self:process signal_perms;

allow readahead_t readahead_var_run_t:file create_file_perms;
allow readahead_t readahead_var_run_t:dir rw_dir_perms;
files_filetrans_pid(readahead_t,readahead_var_run_t)

kernel_read_kernel_sysctl(readahead_t)
kernel_read_system_state(readahead_t)
kernel_getattr_core(readahead_t)

dev_read_sysfs(readahead_t)
dev_getattr_generic_chr_file(readahead_t)
dev_getattr_generic_blk_file(readahead_t)
dev_getattr_all_chr_files(readahead_t)
dev_getattr_all_blk_files(readahead_t)
dev_dontaudit_read_all_blk_files(readahead_t)

domain_use_wide_inherit_fd(readahead_t)

files_dontaudit_getattr_all_sockets(readahead_t)
files_list_non_security(readahead_t)
files_read_non_security_files(readahead_t)

fs_getattr_all_fs(readahead_t)
fs_search_auto_mountpoints(readahead_t)
fs_getattr_all_pipes(readahead_t)
fs_getattr_all_files(readahead_t)

term_dontaudit_use_console(readahead_t)

auth_dontaudit_read_shadow(readahead_t)

init_use_fd(readahead_t)
init_use_script_pty(readahead_t)
init_getattr_initctl(readahead_t)

libs_use_ld_so(readahead_t)
libs_use_shared_libs(readahead_t)

logging_send_syslog_msg(readahead_t)

miscfiles_read_localization(readahead_t)

userdom_dontaudit_use_unpriv_user_fd(readahead_t)
userdom_dontaudit_search_sysadm_home_dir(readahead_t)

ifdef(`targeted_policy',`
	files_dontaudit_read_root_file(readahead_t)
	term_dontaudit_use_unallocated_tty(readahead_t)
	term_dontaudit_use_generic_pty(readahead_t)
')

optional_policy(`selinuxutil',`
	seutil_sigchld_newrole(readahead_t)
')
