
policy_module(su,1.3.0)

########################################
#
# Declarations
#

# real declaration moved to mls until
# range_transition works in loadable modules
gen_require(`
	type su_exec_t;
')
files_type(su_exec_t)

# Remaining policy in the per-user domain template
